<!DOCTYPE html>
<html>
<head>
   <title>医呼百应网上预约挂号平台</title>
   <!-- 引入 Bootstrap -->
   <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
   <link href="/css/common.css" rel="stylesheet">
   <script src="/dist/scripts/jquery.min.js"></script>
   <script src="/dist/bootstrap/js/bootstrap.min.js"></script>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta name="description" content="" />
   <meta name="keywords" content="" />
   <!-- 移动设备优先 -->
   <!-- device-width 可以确保它能正确呈现在不同设备上,initial-scale=1.0 确保网页加载时，以 1:1 的比例呈现，不会有任何的缩放-->
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>
<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- 包括所有已编译的插件 -->
<script src="/dist/js/bootstrap.min.js"></script>

<!--网页头部-->
<div class="container">
   <div class="row">
      <div class="logo-th logo col-xs-6">
         医呼百应网上预约挂号平台
      </div>
      <!--搜索框-->

      <div class="input-group col-xs-6">
         <input type="text" class="form-control" placeholder="请输入疾病名、科室名或者医院名">
                  <span class="input-group-btn">
                     <button class="btn search-button" type="button">
                        &nbsp;&nbsp;搜&nbsp;索&nbsp;&nbsp;
                     </button>
                  </span>
      </div>
      <!-- /input-group -->
   </div>
</div>
<!--导航栏-->
<nav class="navbar navbar-default head-navbar my-bar" role="navigation">
   <div>
      <ul class="nav navbar-nav">
         <li><a href="#">首页</a></li>
         <li><a href="#">按医院找</a></li>
         <li><a href="#">按科室找</a></li>
         <li><a href="#">按疾病找</a></li>
      </ul>
   </div>
</nav>

<!--中间部分-->
<div class="container">
   <div class="row">
      <div class="col-xs-3">
         <!--左侧导航栏面板-->
            <% if(!username) { %>
            <%- include user_notloggedin.html %>
            <% } else {%>
            <%- include user_loggedin.html %>
            <% } %>
      </div>
      <div class="col-xs-9">
         <!--右侧面板-->
         <div class="panel panel-primary panel-right">
            <div class="panel-heading panel-head-center">
               <!--上方名字-->
               选择日期
            </div>
            <div class="panel-body panel-body-center">
               <% for(var i = 0; i < list.length; i++) { %>
               <div class="gallery-item big-item">
                  <a href="/book/confirmbook?hospitalid=<%= hospitalid%>&departmentid=<%= departmentid %>&doctorid=<%= doctorid %>&time=<%= list[i].time %>&datenum=<%= list[i].datenum %>">
                     <div class="dateWindow <%= list[i].available %>">
                        <span>时间:<%= list[i].time %></span>
                        <br/>
                        <span>费用:<%= list[i].fee %></span>
                        <br/>
                        <span>剩余号源:<%= list[i].source %></span>
                     </div>
                  </a>
               </div>
               <% } %>
               <!--<div class="row text-left" style="margin-left:2px">-->
                  <!--<h3>北京市大兴区精神病医院</h3>-->
               <!--</div>-->
               <!--<br>-->
               <!--<div class="row text-left" style="margin-left:2px">-->
                  <!--<h4 style="color:red">重要提示</h4>-->
               <!--</div>-->
               <!--<div class="row">-->
                  <!--<div class="col-md-1">-->
                  <!--</div>-->
                  <!--<div class="col-md-8" style="text-align:left">-->
                     <!--<p class="text-muted">预约周期：91天</p>-->
                     <!--<p class="text-muted">放号时间：09:45</p>-->
                     <!--<p class="text-muted">停挂时间：下午15:00停止次日预约挂号 (周五15:00后   停挂至下周一)</p>-->
                     <!--<p class="text-muted">退号时间：就诊前一工作日15:00前取消</p>-->
                     <!--<p class="text-muted">联系方式：010-61216048</p>-->
                  <!--</div>-->
                  <!--<div class="col-md-3">-->
                  <!--</div>-->
               <!--</div>-->

               <!--<table class="table table-bordered table-striped">-->
                  <!--<tbody>-->
                  <!--<tr>-->
                     <!--<td>上午</td>-->
                     <!--<td><input type="radio" name="dep_data"/>11-12</td>-->
                     <!--<td><input type="radio" name="dep_data"/>11-12</td>-->
                     <!--<td><input type="radio" name="dep_data"/>11-12</td>-->
                     <!--<td><input type="radio" name="dep_data"/>11-12</td>-->
                     <!--<td><input type="radio" name="dep_data"/>11-12</td>-->
                     <!--<td><input type="radio" name="dep_data"/>11-12</td>-->
                     <!--<td><input type="radio" name="dep_data"/>11-12</td>-->
                     <!--<td rowspan="2" align="center" valign="middle"><input type="radio" name="dep_data"/>任意时间</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                     <!--<td>下午</td>-->
                     <!--<td><input type="radio" name="dep_data"/>11-12</td>-->
                     <!--<td><input type="radio" name="dep_data"/>11-12</td>-->
                     <!--<td><input type="radio" name="dep_data"/>11-12</td>-->
                     <!--<td><input type="radio" name="dep_data"/>11-12</td>-->
                     <!--<td><input type="radio" name="dep_data"/>11-12</td>-->
                     <!--<td><input type="radio" name="dep_data"/>11-12</td>-->
                     <!--<td><input type="radio" name="dep_data"/>11-12</td>-->
                  <!--</tr>-->
                  <!--</tbody>-->
               <!--</table>-->
               <!--<button type="button" class="btn btn-info">确定</button>-->


            </div>
            <br>

         </div>
      </div>
   </div>
</div>
</div>




</body>
</html>