<!DOCTYPE html>
<html>
   <head>
      <title>医呼百应网上预约挂号平台</title>
      <!-- 引入 Bootstrap -->
      <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="/css/common.css" rel="stylesheet">
      <script src="/dist/scripts/jquery.min.js"></script>
      <script src="/dist/bootstrap/bootstrap.min.js"></script>
      <link href="/css/index_tourist.css" rel="stylesheet">
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <meta name="description" content="" />
      <meta name="keywords" content="" />
      <!-- 移动设备优先 -->
      <!-- device-width 可以确保它能正确呈现在不同设备上,initial-scale=1.0 确保网页加载时，以 1:1 的比例呈现，不会有任何的缩放-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">     
   </head>
   

   <body>
      <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="https://code.jquery.com/jquery.js"></script>
      <!-- 包括所有已编译的插件 -->
      <script src="/dist/bootstrap/bootstrap.min.js"></script>

      <div class="navbar-right" style="margin-right:0px">
         <div class="dropdown">
            <a href="#" tabindex="0" class="btn btn-xs btn-info change_city" role="button" data-toggle="dropdown">切换城市</a>
            <ul class="dropdown-menu" role="menu">
               <li>
                  <a href="#" class="dropdown-toggle">北京</a>
               </li>
               <li>
                  <a href="#" class="dropdown-toggle">上海</a>
               </li>
            </ul>
         </div>
      </div>

      <!--网页头部-->
      <%- include header.html %>

      <!--中间部分-->
      <div class="container">
         <div class="row">
            <div class="col-xs-3">
               <!--左侧导航栏面板-->
               <% if(!username) { %>
               <%- include user_notloggedin.html %>
               <% } else {%>
               <%- include user_loggedin.html %>
               <% } %>
            </div>

            <div class="col-xs-9">
                <!--右侧面板--> 
               <div class="panel panel-info panel-right">
                  <div class="panel-heading panel-head-center">
                     <!--上方名字-->
                     选择医生
                  </div>
                  <div class="panel-body">
                     <span style="display: none" id="id_hospitalName"><%= hospital_name %></span>
                     <div class="list-group">
                        <% for(var i = 0; i < doctor.length; i++) {%>
                        <div class="list-group_item">
                           <div class="row">
                              <!-- <div class="col-md-2">
                                 <img src="doctor[i].imgsrc" class="img-responsive" alt="Respinsive image">
                              </div> -->
                              <!--<div class="col-md-12" style="text-align:left">-->
                                 <!-- <table class="table">
                                    <tbody>
                                       <tr>
                                          <td>医生姓名：<%= doctor[i].name%></td>
                                          <td>医生专长：<%= doctor[i].advancedDisease%></td>
                                          <td>医生简介：<%= doctor[i].intro%></td>
                                       </tr>                                
                                       <tr>
                                          <td>是否出诊：<%= doctor[i].isOnDuty%></td>
                                          <td>出诊时段，号源：
                                             <% for (var j = 0; j < doctor[i].timeAndSource.length; j++) {%>
                                             <%= doctor[i].timeAndSource[j].time %> &nbsp; <%= doctor[i].timeAndSource[j].source %>
                                             <br/>
                                             <% } %>
                                          </td>
                                       </tr>                                    
                                       <tr>
                                          <td>好评数  ：<%= doctor[i].goodReputation%></td>
                                       </tr>               
                                    </tbody>
                                 </table> -->
                                 <div class="col-md-2">
                                 	<img src="doctor[i].imgsrc" class="img-responsive" alt="Respinsive image">
                                 </div>
                                 <div class="col-md-10">
                                 	<table>
                                 		<tr>
                                 			<td>医生姓名：</td>
                                 			<td><strong><%= doctor[i].name%></strong></td>
                                 		</tr>
                                 		<tr>
                                 			<td>医生专长：</td>
                                 			<td><strong><%= doctor[i].advancedDisease%></strong></td>
                                 		</tr>
                                 		<tr>
                                 			<td>医生简介：</td>
                                 			<td><strong><%= doctor[i].intro%></strong></td>
                                 		</tr>
                                 		<tr>
                                 			<td>是否出诊：</td>
                                 			<td><strong><%= doctor[i].isOnDuty%></strong></td>
                                 		</tr>
                                 		<tr>
                                 			<td>好评数：</td>
                                 			<td><strong><%= doctor[i].goodReputation%></strong></td>
                                 		</tr>
                                 	</table>
                                 </div>
                                 <div class="col-md-offset-2 col-md-10">
                                 	<table>
                                 		<tr>
                                 			<th style="width: 300px; padding-left: 50px;">出诊时段</th>
                                 			<th style="width: 300px;">号源</th>
                                 		</tr>
                                 		<% for (var j = 0; j < doctor[i].timeAndSource.length; j++) {%>
                                 		<tr>
	                                 		<td style="width: 300px;">
	                                 			<%= doctor[i].timeAndSource[j].time %>
	                                 		</td>
	                                 		<td style="width: 300px;">
	                                 			<%= doctor[i].timeAndSource[j].source %>
	                                 		</td>
                                        </tr>
                                        <% } %>
                                 	</table>
                                 </div>
                                 <div class="col-md-offset-4" style="display: inline ">
                                    <button name="collection" class="btn btn-default" id="collection_<%= doctor[i]._id %>" onclick="changeCollectionState(this)"><%= doctor[i].collection %></button>
                                    <a class="btn btn-primary" href="/book/time?hospitalid=<%= hospitalid %>&departmentid=<%= departmentid %>&doctorid=<%= doctor[i]._id %>&datenum=<%= datenum %>">选择</a>
                                 </div>
                              </div>
                           </div><br/>
                           <div style="height:2px;background-color:#C0C0C0;line-height:1px;clear:both;display:block;overflow:hidden"></div><br/>
                        </div>
                        <% } %>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <script>
         function changeCollectionState(button){
            var user_id = getCookie('user_id');
            var hospital_name = document.getElementById("id_hospitalName").innerHTML;
            var doctor_id = button.id.split("_")[1];
            var todo = button.innerHTML;
            $.post("/changedoctorcollectionstate", {
               "user_id": user_id,
               "hospital_name": hospital_name,
               "doctor_id":doctor_id,
               "todo":todo
            }, function (result) {
               if (result.status == 0) {
                  if(document.getElementById("collection_"+doctor_id).innerHTML == "收藏"){
                     document.getElementById("collection_"+doctor_id).innerHTML = "取消收藏";
                  }else{
                     document.getElementById("collection_"+doctor_id).innerHTML = "收藏"
                  }
               } else {
                  if (result.msg) {
                     alert(result.msg);
                  } else {
                     alert('服务器异常');
                  }
               }
            }, 'json');
         }
         function getCookie(objName){//获取指定名称的cookie的值
            var arrStr = document.cookie.split("; ");
            for(var i = 0;i < arrStr.length;i ++){
               var temp = arrStr[i].split("=");
               if(temp[0] == objName) {
                  var a = unescape(temp[1]);
                  var c = a.split("\"");
                  return c[1];
               }
            }
         }
      </script>
      <% include footer.html %>

   </body>
</html>