<!DOCTYPE html>
<html>
    <head>
        <title>医呼百应网上预约挂号平台</title>
        <!-- 引入 Bootstrap -->
        <link href="dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="css/common.css" rel="stylesheet">
        <link href="css/index_tourist.css" rel="stylesheet">
        <script src="dist/scripts/jquery.min.js"></script>
        <script src="dist/bootstrap/js/bootstrap.min.js"></script>
        <script src="http://siteapp.baidu.com/static/webappservice/uaredirect.js" type="text/javascript"></script>
        <script type="text/javascript">uaredirect("/mobile");</script>
        <script src= "test/js/bootstrap-modal.js" ></script>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        <!-- 移动设备优先 -->
        <!-- device-width 可以确保它能正确呈现在不同设备上,initial-scale=1.0 确保网页加载时，以 1:1 的比例呈现，不会有任何的缩放-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


    </head>
<body>
<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- 包括所有已编译的插件 -->
<script src="dist/js/bootstrap.min.js"></script>

<!--网页头部-->
<%- include header.html %>

      <div class="row">
         <div class="col-md-2"></div>
         <div class="col-md-2 department-list">
            <ul class="nav nav-pills nav-stacked" role="tablist">
               <li role="presentation"><a href="#">内科</a></li>
               <li role="presentation"  class="active"><a href="#">外科</a></li>
               <li role="presentation"><a href="#">妇产科</a></li>
               <li role="presentation"><a href="#">生殖中心</a></li>
               <li role="presentation"><a href="#">儿科</a></li>
               <li role="presentation"><a href="#">骨外科</a></li>
               <li role="presentation"><a href="#">眼科</a></li>
               <li role="presentation"><a href="#">口腔科</a></li>
            </ul>

         </div>         
         <div class="col-md-6">            
               <table class="table table-bordered table-striped department-table">
                  <tbody>
                     <tr>                        
                        <td><a href="/book/hospitals?department=神经外科">神经外科</a></td>
                        <td><a href="/book/hospitals?department=功能神经外科">功能神经外科</a></td>
                        <td><a href="/book/hospitals?department=心血管外科">心血管外科</a></td>
                        <td><a href="/book/hospitals?department=胸外科">胸外科</a></td>
                     </tr>
                     <tr>
                        <td><a href="/book/hospitals?department=整形科">整形科</a></td>
                        <td><a href="/book/hospitals?department=乳腺外科">乳腺外科</a></td>
                        <td><a href="/book/hospitals?department=泌尿外科">泌尿外科</a></td>
                        <td><a href="/book/hospitals?department=肝胆外科">肝胆外科</a></td>
                     </tr>
                     <tr>
                        <td><a href="/book/hospitals?department=肛肠科">肛肠科</a></td>
                        <td><a href="/book/hospitals?department=血管外科">血管外科</a></td>
                        <td><a href="/book/hospitals?department=器官移植">器官移植</a></td>
                        <td><a href="/book/hospitals?department=微创外科">微创外科</a></td>
                     </tr>
                     <tr>
                        <td><a href="/book/hospitals?department=普外科">普外科</a></td>
                        <td><a href="/book/hospitals?department=脑外科">脑外科</a></td>
                        <td><a href="/book/hospitals?department=烧伤科">烧伤科</a></td>
                        <td></td>
                     </tr>
                  </tbody>
               </table>   

            
         </div>  
         <div class="col-md-2"></div>  

      </div>

<% include footer.html %>
   </body>
</html>