<!DOCTYPE html>
<html>
    <head>
        <title>医呼百应网上预约挂号平台</title>
        <!-- 引入 Bootstrap -->
        <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/common.css" rel="stylesheet">
        <link href="/css/index_tourist.css" rel="stylesheet">
        <script src="/dist/scripts/jquery.min.js"></script>
        <script src="/dist/bootstrap/js/bootstrap.min.js"></script>
        <script src= "/test/js/bootstrap-modal.js" ></script>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        <!-- 移动设备优先 -->
        <!-- device-width 可以确保它能正确呈现在不同设备上,initial-scale=1.0 确保网页加载时，以 1:1 的比例呈现，不会有任何的缩放-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


    </head>
<body>
<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- 包括所有已编译的插件 -->
<script src="dist/js/bootstrap.min.js"></script>

<!--网页头部-->
<%- include header.html %>

      <div class="row">
         <div class="col-md-2"></div>
         <div class="col-md-2 department-list">
            <ul class="nav nav-pills nav-stacked" role="tablist">
               <li role="presentation" class="active"><a href="#">内科</a></li>
               <li role="presentation"><a href="#">外科</a></li>
               <li role="presentation"><a href="#">妇产科</a></li>
               <li role="presentation"><a href="#">生殖中心</a></li>
               <li role="presentation"><a href="#">儿科</a></li>
               <li role="presentation"><a href="#">骨外科</a></li>
               <li role="presentation"><a href="#">眼科</a></li>
               <li role="presentation"><a href="#">口腔科</a></li>
            </ul>

         </div>         
         <div class="col-md-6">
            
               <table class="table table-bordered table-striped department-table">
                  <tbody>
                     <tr>                        
                        <td><a href="/book/hospitals?department=心血管内科">心血管内科</a></td>
                        <td><a href="/book/hospitals?department=神经内科">神经内科</a></td>
                        <td><a href="/book/hospitals?department=消化内科">消化内科</a></td>
                        <td><a href="/book/hospitals?department=内分泌科">内分泌科</a></td>
                     </tr>
                     <tr>
                        <td><a href="/book/hospitals?department=免疫科">免疫科</a></td>
                        <td><a href="/book/hospitals?department=呼吸科">呼吸科</a></td>
                        <td><a href="/book/hospitals?department=肾病内科">肾病内科</a></td>
                        <td><a href="/book/hospitals?department=血液科">血液科</a></td>
                     </tr>
                     <tr>
                        <td><a href="/book/hospitals?department=感染内科">感染内科</a></td>
                        <td><a href="/book/hospitals?department=过敏反应科">过敏反应科</a></td>
                        <td><a href="/book/hospitals?department=老年病科">老年病科</a></td>
                        <td><a href="/book/hospitals?department=普通内科">普通内科</a></td>
                     </tr>
                     <tr>
                        <td><a href="/book/hospitals?department=高压氧科">高压氧科</a></td>
                        <td></td>
                        <td></td>
                        <td></td>
                     </tr>
                  </tbody>
               </table>
            

            
         </div>  
         <div class="col-md-2"></div>  

      </div>

<% include footer.html %>
   </body>
</html>