<div style="background:url(/images/header.jpg)">
    <div class="container">
        <div class="row">
            <div class="logo-th logo col-xs-6">
                医呼百应网上预约挂号平台
            </div>
            <!--搜索框-->
            <form method="post" action="/searchresult">
                <div class="input-group col-xs-6">
                    <input type="text" class="form-control" placeholder="请输入疾病名、科室名或者医院名" name="searchText">
                  <span class="input-group-btn">
                     <input class="btn search-button" type="submit" value="搜索">
                         &nbsp;&nbsp;搜&nbsp;索&nbsp;&nbsp;
                      </button>
                  </span>
                </div>
            </form>
            <!-- /input-group -->
        </div>
    </div>

    <!--导航栏-->
    <nav class="navbar navbar-default head-navbar my-bar" role="navigation">
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">首页</a></li>
                <li><a href="/book/hospitals">按医院找</a></li>
                <li><a href="/book/departmentlist">按科室找</a></li>
                <li><a href="/book/diseases">按疾病找</a></li>
            </ul>
        </div>
    </nav>
</div>