<header>
    <!--网页头部-->
    <table class="head-table">
        <tr>
            <th class="logo-th">
                <!--Logo-->
                <div class="logo">
                    <h1>医呼百应网上预约挂号平台</h1>
                </div>
            </th>
            <th>
                <form>
                    <!--搜索框-->
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="请输入疾病名、科室名或者医院名">
                        <span class="input-group-btn">
                           <button class="btn search-button" type="button">
                               &nbsp;&nbsp;搜&nbsp;索&nbsp;&nbsp;
                           </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </form>
            </th>
        </tr>
    </table>
    <!--导航栏-->
    <nav class="navbar navbar-default head-navbar my-bar" role="navigation">
        <div>
            <ul class="nav navbar-nav">
                <li><a href="#">首页</a></li>
                <li><a href="#">按医院找</a></li>
                <li><a href="#">按科室找</a></li>
                <li><a href="#">按疾病找</a></li>
            </ul>
        </div>
    </nav>
</header>