<!DOCTYPE html>
<html>
<head>
    <title>医呼百应网上预约挂号平台</title>
    <!-- 引入 Bootstrap -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/common.css" rel="stylesheet">
    <link href="css/index_tourist.css" rel="stylesheet">
    <script src="dist/scripts/jquery.min.js"></script>
    <script src="dist/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://siteapp.baidu.com/static/webappservice/uaredirect.js" type="text/javascript"></script>
    <script type="text/javascript">uaredirect("/mobile");</script>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <!-- 移动设备优先 -->
    <!-- device-width 可以确保它能正确呈现在不同设备上,initial-scale=1.0 确保网页加载时，以 1:1 的比例呈现，不会有任何的缩放-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>
<body>
<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- 包括所有已编译的插件 -->
<script src="dist/js/bootstrap.min.js"></script>

<!--网页头部-->
<table class="head-table">
    <tr>
        <th class="logo-th">
            <!--Logo-->
            <div class="logo">
                <h1>医呼百应网上预约挂号平台</h1>
            </div>
        </th>
        <th>
            <!--搜索框-->
            <div class="input-group">
                <input type="text" class="form-control" placeholder="请输入疾病名、科室名或者医院名">
                  <span class="input-group-btn">
                     <button class="btn search-button" type="button">
                         &nbsp;&nbsp;搜&nbsp;索&nbsp;&nbsp;
                     </button>
                  </span>
            </div>
            <!-- /input-group -->
        </th>
    </tr>
</table>
<!--导航栏-->
<nav class="navbar navbar-default head-navbar my-bar" role="navigation">
    <div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">首页</a></li>
            <li><a href="#">按医院找</a></li>
            <li><a href="#">按科室找</a></li>
            <li><a href="#">按疾病找</a></li>
        </ul>
    </div>
</nav>

<!--中间部分-->
<div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-2">
        <!--左侧导航栏面板-->

    </div>

    <div class="col-md-5 middle-show">
        <!--中间面板-->
        <div id="myCarousel" class="carousel slide">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="img/show1.jpg" alt="First slide">
                </div>
                <div class="item">
                    <img src="img/show2.png" alt="Second slide">
                </div>
                <div class="item">
                    <img src="img/show3.png" alt="Third slide">
                </div>
            </div>
            <!-- 轮播（Carousel）导航 -->
            <a class="carousel-control left" href="#myCarousel"
               data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel"
               data-slide="next">&rsaquo;</a>
        </div>
    </div>
    <div class="col-md-2">
        <!--右侧快速预约面板-->
        <div class="panel panel-info panel-fast">
            <div class="panel-heading">
                &nbsp;&nbsp;快速预约
            </div>
            <div class="panel-body">
                <div class="area-div">
                    <label class="right-panel-div">地区：</label>
                    <select class="province js-province" name="province">
                        <option>请选择...</option>
                        <option value="1">北京</option>
                        <option value="2">上海</option>
                        <option value="22">江苏</option>
                        <option value="29">广东</option>
                        <option value="8">山西</option>
                        <option value="19">湖北</option>
                        <option value="23">安徽</option>
                        <option value="4">重庆</option>
                        <option value="27">福建</option>
                        <option value="31">广西</option>
                        <option value="18">贵州</option>
                        <option value="16">河北</option>
                        <option value="20">河南</option>
                        <option value="7">黑龙江</option>
                        <option value="30">湖南</option>
                        <option value="6">吉林</option>
                        <option value="25">江西</option>
                        <option value="5">辽宁</option>
                        <option value="33">内蒙古</option>
                        <option value="10">宁夏</option>
                        <option value="12">青海</option>
                        <option value="21">山东</option>
                        <option value="9">陕西</option>
                        <option value="15">四川</option>
                        <option value="3">天津</option>
                        <option value="13">新疆</option>
                        <option value="24">浙江</option>
                    </select>
                </div>
                <div class="hospital-div">
                    <label class="right-panel-div">医院：</label>
                    <select class="js-hospital" name="hospital">
                        <option value="">请选择...</option>
                        <option value="111111">不限</option>
                        <option value="5cee04f9-4cc8-4499-a35b-6f37f2dd8a74">中国人民解放军总医院301医院</option>
                        <option value="CCF26DB04E531DF9E040A8C0790228AB">北京天坛医院</option>
                        <option value="3792eea3-9f3b-4a50-85d8-7900417623c0">北京安贞医院</option>
                        <option value="e88fb3d3-f35a-40bc-a4b0-7fdf0828b8df">北京爱尔英智眼科医院</option>
                        <option value="c4598857-7115-4c8e-8ab4-64e5d9a25820">北京首大耳鼻喉医院</option>
                        <option value="5319072f-dab5-430a-a815-40f829efe961">北京中医药大学东直门医院</option>
                        <option value="ea7ff400-2864-427e-903b-31b4ef26cc54">中国人民解放军总医院第一附属医院</option>
                        <option value="f1adeed2-0f41-42c5-82cf-f944e549e077">中国人民武装警察部队北京市总队医院</option>
                        <option value="9743eeb5-96ba-484e-b60c-51fe2af48a41">解放军第307医院</option>
                        <option value="5735f165-1945-41e0-8cd7-cd48cfd5d0ed">中国人民解放军北京军区总医院</option>
                        <option value="ab73f02b-efcf-4ff2-8b27-b8d82f8b709b">空军航空医学研究所附属医院</option>
                        <option value="e4d827d9-9175-410d-b6ea-108984eca121">中国人民武装警察部队总医院</option>
                    </select>
                </div>
                <div>
                    <button class="btn book-button">
                        我&nbsp;要&nbsp;预&nbsp;约
                    </button>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>


<!--下方部分-->
<div class="col-sm-12">
    <div class="col-sm-8 col-sm-offset-2 divFound">
        <!--按医院搜索-->
        <div class="col-sm-12">
            <h3>按医院找</h3>
            <hr class="myhr"/>
            <div class="mybox">
                <ul id="myTab" class="nav nav-pills navArea">
                    <li><a href="#Beijing" data-toggle="tab">北京</a></li>
                    <li><a href="#Shanghai" data-toggle="tab">上海</a></li>
                    <li><a href="#Tianjin" data-toggle="tab">天津</a></li>
                    <li><a href="#Jiangsu" data-toggle="tab">江苏</a></li>
                    <li><a href="#Guangdong" data-toggle="tab">广东</a></li>
                    <li><a href="#Hebei" data-toggle="tab">河北</a></li>
                    <li><a href="#OtherArea" data-toggle="tab">更多地区&gt;</a></li>
                </ul>
            </div>
            <!-- 按医院搜索显示的医院列表 -->
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade col-sm-12" id="Beijing">
                    <div>
                        <table class="col-sm-12">
                            <tr>
                                <td><a href="#">北京XXX医院</a></td>
                                <td><a href="#">北京XXX医院</a></td>
                                <td><a href="#">北京XXX医院</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">北京XXX医院</a></td>
                                <td><a href="#">北京XXX医院</a></td>
                                <td><a href="#">北京XXX医院</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">北京XXX医院</a></td>
                                <td><a href="#">北京XXX医院</a></td>
                                <td><a href="#">北京XXX医院</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade col-sm-12" id="Shanghai">
                    <div>
                        <table class="col-sm-12">
                            <tr>
                                <td><a href="#">上海XXX医院</a></td>
                                <td><a href="#">上海XXX医院</a></td>
                                <td><a href="#">上海XXX医院</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">上海XXX医院</a></td>
                                <td><a href="#">上海XXX医院</a></td>
                                <td><a href="#">上海XXX医院</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">上海XXX医院</a></td>
                                <td><a href="#">上海XXX医院</a></td>
                                <td><a href="#">上海XXX医院</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade col-sm-12" id="Tianjin">
                    <div>
                        <table class="col-sm-12">
                            <tr>
                                <td><a href="#">天津XXX医院</a></td>
                                <td><a href="#">天津XXX医院</a></td>
                                <td><a href="#">天津XXX医院</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">天津XXX医院</a></td>
                                <td><a href="#">天津XXX医院</a></td>
                                <td><a href="#">天津XXX医院</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">天津XXX医院</a></td>
                                <td><a href="#">天津XXX医院</a></td>
                                <td><a href="#">天津XXX医院</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade col-sm-12" id="Jiangsu">
                    <div>
                        <table class="col-sm-12">
                            <tr>
                                <td><a href="#">北京XXX医院</a></td>
                                <td><a href="#">北京XXX医院</a></td>
                                <td><a href="#">北京XXX医院</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">北京XXX医院</a></td>
                                <td><a href="#">北京XXX医院</a></td>
                                <td><a href="#">北京XXX医院</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">北京XXX医院</a></td>
                                <td><a href="#">北京XXX医院</a></td>
                                <td><a href="#">北京XXX医院</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade col-sm-12" id="Guangdong">
                    <div>
                        <table class="col-sm-12">
                            <tr>
                                <td><a href="#">北京XXX医院</a></td>
                                <td><a href="#">北京XXX医院</a></td>
                                <td><a href="#">北京XXX医院</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">北京XXX医院</a></td>
                                <td><a href="#">北京XXX医院</a></td>
                                <td><a href="#">北京XXX医院</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">北京XXX医院</a></td>
                                <td><a href="#">北京XXX医院</a></td>
                                <td><a href="#">北京XXX医院</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade col-sm-12" id="Hebei">
                    <div>
                        <table class="col-sm-12">
                            <tr>
                                <td><a href="#">北京XXX医院</a></td>
                                <td><a href="#">北京XXX医院</a></td>
                                <td><a href="#">北京XXX医院</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">北京XXX医院</a></td>
                                <td><a href="#">北京XXX医院</a></td>
                                <td><a href="#">北京XXX医院</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">北京XXX医院</a></td>
                                <td><a href="#">北京XXX医院</a></td>
                                <td><a href="#">北京XXX医院</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade col-sm-12" id="OtherArea">
                    <div>
                        <table class="col-sm-12">
                            <tr>
                                <td><a href="#">北京XXX医院</a></td>
                                <td><a href="#">北京XXX医院</a></td>
                                <td><a href="#">北京XXX医院</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">北京XXX医院</a></td>
                                <td><a href="#">北京XXX医院</a></td>
                                <td><a href="#">北京XXX医院</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">北京XXX医院</a></td>
                                <td><a href="#">北京XXX医院</a></td>
                                <td><a href="#">北京XXX医院</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <!--按科室搜索-->
        <div class="col-sm-12">
            <h3>按科室找</h3>
            <hr class="myhr"/>
            <div class="col-sm-12">
                <table class="col-sm-12">
                    <tr>
                        <td>
                            <table class="col-sm-12">
                                <tr>
                                    <th id="Neike">内科
                                    </td>
                                    <td>
                                        <table id="tabForNeike" class="col-sm-12 tabCellspacing">
                                            <tr>
                                                <td><a href="#">心血管内科</a></td>
                                                <td><a href="#">呼吸内科</a></td>
                                                <td><a href="#">消化内科</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">神经内科</a></td>
                                                <td><a href="#">血液科</a></td>
                                                <td><a href="#">肾内科</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">内分泌科</a></td>
                                                <td><a href="#">感染科</a></td>
                                                <td><a href="#">风湿免疫科</a></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="col-sm-12">
                                <tr>
                                    <th id="Waike">外科
                                    </td>
                                    <td>
                                        <table id="tabForWaike" class="col-sm-12 tabCellspacing">
                                            <tr>
                                                <td><a href="#">胸外科</a></td>
                                                <td><a href="#">普外科</a></td>
                                                <td><a href="#">神经外科</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">肝胆外科</a></td>
                                                <td><a href="#">肛肠外科</a></td>
                                                <td><a href="#">泌尿外科</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">血管外科</a></td>
                                                <td><a href="#">整形外科</a></td>
                                                <td><a href="#">乳腺外科</a></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="col-sm-12 tabCellspacing">
                                <tr>
                                    <th>骨科
                                    </td>
                                    <td><a href="#">脊柱外科</a></td>
                                    <td><a href="#">关节外科</a></td>
                                    <td><a href="#">手外科</a></td>
                                </tr>
                                <tr>
                                    <th>五官
                                    </td>
                                    <td><a href="#">眼科</a></td>
                                    <td><a href="#">耳鼻咽喉科</a></td>
                                    <td><a href="#">口腔科</a></td>
                                </tr>
                                <tr>
                                    <th>妇产科
                                    </td>
                                    <td><a href="#">妇科</a></td>
                                    <td><a href="#">产科</a></td>
                                    <td><a href="#">生殖与遗传</a></td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="col-sm-12 tabCellspacing">
                                <tr>
                                    <th>其他
                                    </td>
                                    <td>
                                        <table class="col-sm-12">
                                            <tr>
                                                <td><a href="#">皮肤性病科</a></td>
                                                <td><a href="#">肿瘤科</a></td>
                                                <td><a href="#">中医科</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">男科</a></td>
                                                <td><a href="#">放射科</a></td>
                                                <td><a href="#">超声科</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">心理科</a></td>
                                                <td><a href="#">精神科</a></td>
                                                <td><a href="#">中医妇产科</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">儿科</a></td>
                                                <td><a href="#">感染科</a></td>
                                                <td><a href="#">更多&gt;</a></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!--按疾病搜索-->
        <div class="col-sm-12">
            <h3>按疾病找</h3>
            <hr class="myhr"/>
            <div class="col-sm-12">
                <table class="col-sm-12">
                    <tr>
                        <td>
                            <table class="col-sm-12">
                                <tr>
                                    <th>内科</th>
                                    <td>
                                        <table class="col-sm-12">
                                            <tr>
                                                <td><a href="#">糖尿病</a></td>
                                                <td><a href="#">高血压</a></td>
                                                <td><a href="#">胃炎</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">甲亢</a></td>
                                                <td><a href="#">乙肝</a></td>
                                                <td><a href="#">冠心病</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">肝硬化</a></td>
                                                <td><a href="#">癫痫</a></td>
                                                <td><a href="#">失眠</a></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="col-sm-12">
                                <tr>
                                    <th>外科</th>
                                    <td>
                                        <table class="col-sm-12">
                                            <tr>
                                                <td><a href="#">前列腺炎</a></td>
                                                <td><a href="#">乳腺增生</a></td>
                                                <td><a href="#">甲状腺瘤</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">血管瘤</a></td>
                                                <td><a href="#">早泄</a></td>
                                                <td><a href="#">静脉曲张</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">颈椎病</a></td>
                                                <td><a href="#">腰椎间盘突出症</a></td>
                                                <td><a href="#">痔疮</a></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="col-sm-12">
                                <tr>
                                    <th>内科</th>
                                    <td>
                                        <table class="col-sm-12">
                                            <tr>
                                                <td><a href="#">月经不调</a></td>
                                                <td><a href="#">不孕不育</a></td>
                                                <td><a href="#">子宫肌瘤</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">多囊卵巢综合症</a></td>
                                                <td><a href="#">卵巢囊肿</a></td>
                                                <td><a href="#">阴道炎</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">宫颈糜烂</a></td>
                                                <td><a href="#">内分泌失调</a></td>
                                                <td><a href="#">宫颈癌</a></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="col-sm-12">
                                <tr>
                                    <th>肿瘤科</th>
                                    <td>
                                        <table class="col-sm-12">
                                            <tr>
                                                <td><a href="#">乳腺癌</a></td>
                                                <td><a href="#">肺癌</a></td>
                                                <td><a href="#">胃癌</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">肝癌</a></td>
                                                <td><a href="#">直肠癌</a></td>
                                                <td><a href="#">甲状腺癌</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">胰腺癌</a></td>
                                                <td><a href="#">淋巴癌</a></td>
                                                <td><a href="#">食道癌</a></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="col-sm-12">
                                <tr>
                                    <th>儿科</th>
                                    <td>
                                        <table class="col-sm-12">
                                            <tr>
                                                <td><a href="#">小儿哮喘</a></td>
                                                <td><a href="#">小儿癫痫</a></td>
                                                <td><a href="#">小儿肺炎</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">小儿抽动症</a></td>
                                                <td><a href="#">性早熟</a></td>
                                                <td><a href="#">小儿多动症</a></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="col-sm-12">
                                <tr>
                                    <th>五官科</th>
                                    <td>
                                        <table class="col-sm-12">
                                            <tr>
                                                <td><a href="#">鼻炎</a></td>
                                                <td><a href="#">耳鸣</a></td>
                                                <td><a href="#">白内障</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">青光眼</a></td>
                                                <td><a href="#">牙周炎</a></td>
                                                <td><a href="#">近视</a></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="col-sm-12">
                                <tr>
                                    <th>皮肤科</th>
                                    <td>
                                        <table class="col-sm-12">
                                            <tr>
                                                <td><a href="#">湿疹</a></td>
                                                <td><a href="#">白癜风</a></td>
                                                <td><a href="#">牛皮癣</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">荨麻疹</a></td>
                                                <td><a href="#">脱发</a></td>
                                                <td><a href="#">痤疮</a></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="col-sm-12">
                                <tr>
                                    <th>未确诊</th>
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div>

</div>


</body>
</html>
