<!DOCTYPE html>
<html>
	<head>
      <title>医呼百应网上预约挂号平台</title>
      <!-- 引入 Bootstrap -->
      <link href="dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="css/common.css" rel="stylesheet">
      <link href="css/login.css" rel="stylesheet">
      <script src="dist/scripts/jquery.min.js"></script>
      <script src="dist/bootstrap/js/bootstrap.min.js"></script>
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <meta name="description" content="" />
      <meta name="keywords" content="" />
      <!-- 移动设备优先 -->
      <!-- device-width 可以确保它能正确呈现在不同设备上,initial-scale=1.0 确保网页加载时，以 1:1 的比例呈现，不会有任何的缩放-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">     
   </head>
   <body>
   	  <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="https://code.jquery.com/jquery.js"></script>
      <!-- 包括所有已编译的插件 -->
      <script src="dist/js/bootstrap.min.js"></script>

      <!--网页头部-->
      <table class="head-table">
         <tr>
            <th class="logo-th">
               <!--Logo-->
               <div class="logo">
                  <h1>医呼百应网上预约挂号平台</h1>
               </div>
            </th>
            <th>
               <!--搜索框-->
               <div class="input-group">
                  <input type="text" class="form-control" placeholder="请输入疾病名、科室名或者医院名">
                  <span class="input-group-btn">
                     <button class="btn search-button" type="button">
                     &nbsp;&nbsp;搜&nbsp;索&nbsp;&nbsp;
                     </button>
                  </span>
               </div><!-- /input-group -->
            </th>
         </tr>
      </table>


      <!-- 这是龚琦丹的代码 -->

      <!--导航栏欢迎条-->
      <div class="welcome-login-text">
         <label>欢迎登录</label>
      </div>

      <!-- 登录模块 -->
      <div class="col-sm-4 col-sm-offset-4">
      <form method="post" class="form-horizontal" onsubmit="">
         <br/>
         <br/>
         <div class="form-group">
            <label for="login_Phone" class="col-sm-3 control-label">手机号：</label>
            <div class="col-sm-9">
               <input type="text" id="login_Phone" class="form-control" name="login_Phone" required="required"/>
            </div>
         </div>
         <br/>
         <div class="form-group">
            <label for="login_Password" class="col-sm-3 control-label">密码：</label>
            <div class="col-sm-9">
               <input type="password" id="login_Password" class="form-control" name="login_Password" required="required"/>
            </div>
         </div>
         <br/><br/>
         <div class="form-group">
            <input type="submit" class="btn btn-success col-sm-3 col-sm-offset-2" value="登录"/>
            <input type="button" class="btn btn-primary col-sm-3 col-sm-offset-3" value="去注册>>" onclick="window.location='register.html'"/>
         </div>
         </div>
      </form>
   </div>

   </body>
</html>