<%-include header.html%>
<!--中间部分-->
<div class="container">
   <div class="row">
      <div class="col-xs-3">
         <!--左侧导航栏面板-->
         <div class="panel panel-info panel-left">
            <div class="panel-heading">
               &nbsp;&nbsp;&nbsp;<a href="/personalCenter/personInfo" class="panel-title"><%= user.user_id%></a>，您好！
            </div>
            <div class="panel-body">
               <ul class="nav nav-pills nav-stacked">
                  <li><a href="/personalCenter/myOrder">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我的订单</a></li>
                  <li class="active"><a href="/personalCenter/personInfo">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;个人信息</a></li>
                  <li><a href="/personalCenter/myFavourite">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我的收藏</a></li>
                  <li><a href="/personalCenter/feedback">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;问题反馈</a></li>
               </ul>
               <button class="btn btn-default logout-button" type="button" id="<%= user.user_id%>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注&nbsp;&nbsp;&nbsp;&nbsp;销&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
            </div>
         </div>
      </div>
      <div class="col-xs-9">
         <form action="/personalCenter/modifyPhone">
            <input type="hidden" name="user_id" value="<%= user.user_id%>"/>
            <!--右侧面板-->
            <div class="panel panel-info panel-right">
               <div class="panel-heading panel-head-personalinfo">
                  <!--上方导航栏-->
                  <ol class="breadcrumb my-bread">
                     <li><a href="/personalCenter/personInfo">个人信息</a></li>
                     <li class="active">修改手机号</li>
                  </ol>
               </div>
               <div class="panel-body panel-body-center">
                  <table class="body-table">
                     <tr>
                        <th>
                           <label class="th-label">新手机号：</label>
                        </th>
                        <th>
                           <input type="text" class="form-control th-label" id="newPhone" name="newPhone" placeholder="请输入新手机号">
                        </th>
                     </tr>
                     <tr>
                        <th>
                           &nbsp;
                        </th>
                        <th>
                           <button class="btn identify-button" data="<%= user.user_id%>">获取短信验证码</button>
                        </th>
                     </tr>
                     <tr>
                        <th>
                           <label class="th-label">验证码：</label>
                        </th>
                        <th>
                           <input type="text" class="form-control th-label" id="code" name="code" placeholder="请输入验证码">
                        </th>
                     </tr>
                  </table>
               </div>
               <button type="submit" class="btn btn-primary btn-lg button-center ">
                  保存修改
               </button>
            </div>
         </form>
         <div class="alert alert-warning alert-dismissible panel-body panel-body-center hide" id="success" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            恭喜！修改手机号码成功！
         </div>
         <div class="alert alert-warning alert-dismissible panel-body panel-body-center hide" id="fail" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <%= result.msg%>
         </div>
      </div>
   </div>
</div>
<script>
   $(document).ready(function() {
      $('button.logout-button').click(function(){
         var user_id = $(this).attr("id");
         $.post("/personalCenter/logout",{"user_id":user_id},function(result) {
            if (result.status == 0) {
               window.location.reload();
            } else {
               if (result.msg) {
                  alert(result.msg);
               } else {
                  alert('服务器异常');
               }
            }
         },'json');
         return false;
      });
   });
</script>
<script>
   $(document).ready(function() {
      $('button.identify-button').click(function(){
         var user_id = $(this).attr("data");
         $.post("/personalCenter/getMessageCode",{"user_id":user_id},function(result) {
            if (result.status == 0) {
               window.location.reload();
            } else {
               if (result.msg) {
                  alert(result.msg);
               } else {
                  alert('服务器异常');
               }
            }
         },'json');
         return false;
      });
   });
</script>
<script language="javascript">
   $(document).ready(function() {
      $('form').submit(function() {
         $.post($(this).attr('action'),$(this).serialize(),function(result) {
            if (result.status == 0) {
               $('#success').removeClass('hide');
            } else {
               if (result.msg) {
                  $('#fail').removeClass('hide');
               } else {
                  alert('服务器异常');
               }
            }
         },'json')
         return false;
      });
   });
</script>
</body>
</html>