<%-include header.html%>

<!--中间部分-->
<div class="container">
   <div class="row">
      <div class="col-xs-3">
         <!--左侧导航栏面板-->
         <div class="panel panel-info panel-left">
            <div class="panel-heading">
               &nbsp;&nbsp;&nbsp;<a href="/person/info" class="panel-title"><%= user.real_names%></a>，您好！
            </div>
            <div class="panel-body">
               <ul class="nav nav-pills nav-stacked">
                  <li><a href="/person/myOrder">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我的订单</a></li>
                  <li><a href="/personpersonInfo">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;个人信息</a></li>
                  <li class="active"><a href="/person/myFavourite">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我的收藏</a></li>
                  <li><a href="/personr/feedback">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;问题反馈</a></li>
               </ul>
               <button class="btn btn-default logout-button" type="button" id="<%= user.user_id%>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注&nbsp;&nbsp;&nbsp;&nbsp;销&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
            </div>
         </div>
      </div>
      <div class="col-xs-9">
         <!--右侧面板-->
         <div class="panel panel-info panel-right">
            <div class="panel-heading panel-head-center">
               <!--上方名字-->
               我的收藏
            </div>
            <div class="panel-body panel-body-center">
               <table class="table table-striped">
                  <tbody>
                  <% for(var i=0; i<user.favourite_hospital.length; i++) {%>
                  <tr>
                     <td><img src="img/hos_picture.jpg" class="img-responsive" alt="Responsive" style="height:70px"></td>
                     <td colspan="3" class="text-left">
                        <a href="#"><%= favourites[i].hos_name %></a>
                        <p>地址：<%= favourites[i].hos_address %></p>
                        <p>联系方式：<%= favourites[i].hos_tel %></p>
                     </td>
                     <td>
                        <button type="button" class="btn btn-info del" id="<%= favourites[i].favourite_id %>" style="margin-top:20px">删除</button>
                     </td>
                  </tr>
                  <% } %>
                  </tbody>
               </table>

            </div>
         </div>
      </div>
   </div>
</div>
<script>
   $(document).ready(function() {
      $('button.logout-button').click(function(){
         var user_id = $(this).attr("id");
         $.post("/personalCenter/logout",{"user_id":user_id},function(result) {
            if (result.status == 0) {
               window.location.reload();
            } else {
               if (result.msg) {
                  alert(result.msg);
               } else {
                  alert('服务器异常');
               }
            }
         },'json');
         return false;
      });
   });
</script>
<script>
   $(document).ready(function() {
      $('button.del').click(function(){
         var favourite_id = $(this).attr("id");
         $.post("/personalCenter/DropFavourite",{"favourite_id":favourite_id},function(result)  {
            if (result.status == 0) {
               window.location.reload();
            } else {
               if (result.msg) {
                  alert(result.msg);
               } else {
                  alert('服务器异常');
               }
            }
         },'json');
         return false;
      });
   });
</script>
</body>
</html>