<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
   <title>医呼百应网上预约挂号平台</title>
   <!-- 引入 Bootstrap -->
   <link href="/css/bootstrap.min.css" rel="stylesheet">
   <link href="/css/common.css" rel="stylesheet">
   <script src="/js/jquery-1.11.2.js"></script>
   <script src="/js/bootstrap.min.js"></script>
   <script src="/javascripts/pc/login.js"></script>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<%-include header.html%>

<!--中间部分-->
<div class="container">
   <div class="row">
      <div class="col-xs-3">
         <!--左侧导航栏面板-->
         <div class="panel panel-info panel-left">
            <div class="panel-heading">
               &nbsp;&nbsp;&nbsp;<a href="/person/info" class="panel-title"><%= user.real_name%></a>，您好！
            </div>
            <div class="panel-body">
               <ul class="nav nav-pills nav-stacked">
                  <li><a href="/person/myOrder">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我的订单</a></li>
                  <li class="active"><a href="/person/info">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;个人信息</a></li>
                  <li><a href="/person/myFavourite">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我的收藏</a></li>
                  <li><a href="/person/feedback">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;问题反馈</a></li>
               </ul>
               <button class="btn btn-default logout-button" type="button" href="/logout">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注&nbsp;&nbsp;&nbsp;&nbsp;销&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
            </div>
         </div>
      </div>

      <div class="col-xs-9">
         <!--右侧面板-->
         <div class="panel panel-info panel-right">
            <div class="panel-heading panel-head-center">
               <!--上方名字-->
               个人信息
            </div>
            <div class="panel-body panel-body-center">
               <table class="body-table">
                  <tr>
                     <th class="th-left">用户名：</th>
                     <td class="th-right"><span><%= user.username%></span></td>
                  </tr>
                  <tr>
                     <th class="th-left">密码：</th>
                     <td class="th-right">*********&nbsp;&nbsp;&nbsp;&nbsp;<a href="/person/info/alterPass">修改</a></td>
                  </tr>
                  <tr>
                     <th class="th-left">真实姓名：</th>
                     <td class="th-right"><%= user.real_name%></td>
                  </tr>
                  <tr>
                     <th class="th-left">身份证号：</th>
                     <td class="th-right"><%= user.social_number%></td>
                  </tr>
                  <tr>
                     <th class="th-left">现居住地：</th>
                     <td class="th-right"><span><%= user.address%></span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/person/info/alterAddress">修改</a></td>
                  </tr>
                  <tr>
                     <th class="th-left">邮箱：</th>
                     <td class="th-right"><span><%= user.email%></span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/person/info/alterEmail">修改</a></td>
                  </tr>
                  <tr>
                     <th class="th-left">手机号：</th>
                     <td class="th-right"><%= user.phone_number%>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/person/info/alterPhone">修改</a></td>
                  </tr>
                  <tr>
                     <th class="th-left">信用等级：</th>
                     <td class="th-right"><%= user.credit_level%></td>
                  </tr>
                  <tr>
                     <th class="th-left">注册时间：</th>
                     <td class="th-right"><%= register_time%></td>
                  </tr>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>

<script type="text/javascript">
   var span = document.getElementsByTagName("span");
   for(var i = 0;i < span.length; i++){
      if(span[i].innerHTML=="undefined"){
         span[i].innerHTML=null;
      }
   }
</script>
</body>
</html>