<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>医呼百应网上预约挂号平台</title>
		<!-- 引入 Bootstrap -->
       <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
       <link href="/stylesheets/pc/pcViewHead.css" rel="stylesheet">
       <script src="/javascripts/jquery.min.js"></script>
       <script src="/javascripts/bootstrap.min.js"></script>
       <script type="text/javascript" src="/javascripts/idchecked.js"></script>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!-- 移动设备优先 -->
		<!-- device-width 可以确保它能正确呈现在不同设备上,initial-scale=1.0 确保网页加载时，以 1:1 的比例呈现，不会有任何的缩放-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<link href="/stylesheets/pc/register.css" rel="stylesheet">
		<script type="text/javascript" src="/javascripts/pc/register.js"></script>

   </head>
   <body>
   <!--网页头部-->
   <%- include header.html %>

   <!--导航栏欢迎词-->
      <div class="welcome-register">
         <label class="welcome-register-text col-sm-4 col-sm-offset-4">注册我们的网站</label>
         <a class="welcome-a col-sm-4" href="login.html">已有账号，前往登录</a>
      </div>



      <!-- 注册表单内容 -->
      <div class="col-sm-4 col-sm-offset-4">
         <br/>
         <br/>
         <form class="form-horizontal" method="post" onsubmit="return checkSubmit()">
            <div class="form-group">
               <label for="id_idNumber" class="col-sm-3 control-label" onchange="scCard()">身份证号：</label>
               <div class="col-sm-8">
                  <input type="text" id="id_idNumber" name="social_number" class="form-control" required>
                  <span id="id_idNumber_errorTips" style="font-size:1em !important;font-family:""微软雅黑"";"></span>
               </div>
            </div>
            <div class="form-group">
               <label for="register-Name" class="col-sm-3 control-label">姓名：</label>
               <div class="col-sm-8">
                  <input type="text" id="register_Name" name="name" class="form-control" required>
               </div>
            </div>
            <div class="form-group">
               <label for="id_passWord" class="col-sm-3 control-label">密码：</label>
               <div class="col-sm-8">
                  <input type="password" id="id_passWord" name="password" class="form-control" required>
               	  <span id="id_warning" name="warning" style="display:none; color:#DD2427;">密码长度在6-20位之间</span>
               </div>
            </div>
            <div class="form-group">
               <label for="id_repeat_passWord" class="col-sm-3 control-label">确认密码：</label>
               <div class="col-sm-8">
                  <input type="password" id="id_repeat_passWord" name="repeat_passWord" class="form-control" required>
               	  <span id="id_repeat_warning" name="repeat_warning" style="display:none; color:#DD2427;">两次输入密码不一致</span>
               </div>
            </div>
            <div class="form-group">
				<label for="id_city" class="col-sm-3 control-label">现居城市：</label>
				<div class="col-sm-8">
					<select id="id_city" class="form-control" style="margin-left:0px;" name="city">
						<option value="0" selected>现居城市</option>
						<option value="1">北京</option>
						<option value="2">天津</option>
						<option value="3">上海</option>
						<option value="4">广州</option>
						<option value="5">淮安</option>
						<option value="6">徐州</option>
						<option value="7">无锡</option>
						<option value="8">太原</option>
						<option value="9">长沙</option>
						<option value="10">青岛</option>
						<option value="11">西安</option>
						<option value="12">武汉</option>
					</select>
				</div>
            </div>
            <div class="form-group">
               <label for="id_phoneNumber" class="col-sm-3 control-label">手机号：</label>
               <div class="col-sm-8">
                  <input type="text" id="id_phoneNumber" name="phoneNumber" class="form-control" required>
               	  <span id="id_phone_warning" name="phone_warning" style="display:none; color:#DD2427;">请输入正确格式的手机号</span>
               </div>
            </div>
            <div class="form-group">
            	<label for="auth-code" class="control-label col-sm-3">验证码：</label>
        		<div class="col-sm-4">
        			<input type="text" id="auth_code" name="auth_code" class="col-sm-4 form-control" value="" placeholder="请输入验证码">
        		</div>
               <button class="btn btn-primary" type="button" onclick="showAuthCode(this)">获取验证码</button>
            </div>
            <br/>
            <!--<div class="form-group">-->
            <!--<label for="register_Agree" class="col-sm-4 col-sm-offset-2">-->
            <!--<input type="checkbox" id="register_Agree" name="register_Agree" onclick="checkAgree()">我同意注册-->
            <!--</label>-->
            <!--</div>-->
            <br/>
            <div class="form-group">
               <input id="register_submit" name="submit_button" type="submit" class="btn btn-success col-sm-8 col-sm-offset-2" onclick="commit()" value="提交注册"/>
            </div>

         </form>
      </div>
	<% include footer.html %>
      <script>
         var xmlHttp;
         var remainingTime = 60;
         function requestAuthCode(button) {
            time(button);
            xmlHttp = GetXmlHttpObject();
            if (xmlHttp == null) {
               alert('您的浏览器不支持AJAX！');
               return;
            }
            var url = "/mobile/generateAuthCode";
            xmlhttp.open("POST", url, true);
            xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xmlhttp.send();
            xmlHttp.onreadystatechange = getOkPost;//发送事件后，收到信息了调用函数
         }
         function time(button) {
            if (remainingTime == 0) {
               button.removeAttribute("disabled");
               button.innerHTML = "获取验证码";
               remainingTime = 60;
            } else {
               button.setAttribute("disabled", true);
               button.innerHTML = remainingTime + "秒后重新发送";
               remainingTime--;
               setTimeout(function () {
                          time(button)
                       },
                       1000);
            }
         }
         function GetXmlHttpObject() {
            if (window.XMLHttpRequest) {
               // code for IE7+, Firefox, Chrome, Opera, Safari
               xmlhttp = new XMLHttpRequest();
            } else {// code for IE6, IE5
               xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            return xmlhttp;
         }
         function getOkPost() {
            if (xmlHttp.readyState == 1 || xmlHttp.readyState == 2 || xmlHttp.readyState == 3) {
               // 本地提示：加载中/处理中

            }
         }
         function showAuthCode(button)
         {

         	if (showPhoneWarning())
         	{
         		requestAuthCode(button);
         	}
         	else
         	{
         		alert("请先修改手机号格式！");
         	}
         }
      </script>
      <% include footer.html %>
   </body>
</html>
