<!DOCTYPE html>
<html>
<head>
    <title>医呼百应网上预约挂号平台</title>
    <!-- 引入 Bootstrap -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/common.css" rel="stylesheet">
    <script src="dist/scripts/jquery.min.js"></script>
    <script src="dist/bootstrap/js/bootstrap.min.js"></script>
    <script src="dist/js/search.js"></script>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <!-- 移动设备优先 -->
    <!-- device-width 可以确保它能正确呈现在不同设备上,initial-scale=1.0 确保网页加载时，以 1:1 的比例呈现，不会有任何的缩放-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>
<%- include header.html %>

<!--中间部分-->
<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <!--左侧导航栏面板-->
            <% if(!username) { %>
            <%- include user_notloggedin.html %>
            <% } else {%>
            <%- include user_loggedin.html %>
            <% } %>
        </div>
        <div class="col-xs-9">
            <!--右侧面板-->
            <div class="panel panel-primary panel-right">
                <div class="panel-heading panel-head-center">
                    <!--上方名字-->
                    "<%= searchtext %>"的搜索结果
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <% if(hospital.length > 0) {%>
                        <h4>相关的医院</h4>
                        <% } %>
                        <% for(var i = 0; i < hospital.length; i++) {%>
                        <a href="/book/departments?hospitalid=<%= hospital[i]._id %>" class="list-group_item">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="<%= hospital[i].hospital_imgsrc %>" class="img-responsive"
                                         alt="Respinsive image" height="202px" width="157px">
                                </div>
                                <div class="col-md-8" style="text-align:left">
                                    <h4 class="list-group-item-heading"><%= hospital[i].hospital_name %></h4>
                                    <br>

                                    <p class="text-muted">地址：<%= hospital[i].hospital_location %></p>
                                    <br>

                                    <p class="text-muted">联系方式：<%= hospital[i].hospital_tel %></p>
                                    <br>

                                    <p class="text-muted">成功预约数：<%= hospital[i].hospital_order_count %></p>
                                </div>
                            </div>
                        </a>
                        <hr>
                        <% } %>
                    </div>
                    <div class="list-group">
                        <% if(doctor.length > 0) { %>
                        <h4>相关的医生</h4>
                        <% } %>
                        <% for(var i = 0; i < doctor.length; i++) {%>
                        <div class="list-group_item">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="<%= doctor[i].doctor_imgsrc %>" class="img-responsive" height="60"
                                         width="60">
                                </div>
                                <div class="col-md-10">
                                    <table>
                                        <col width="15%">
                                        <col width="85%">
                                        <tr>
                                            <td>医生姓名：</td>
                                            <td><strong><%= doctor[i].name%></strong></td>
                                        </tr>
                                        <tr>
                                            <td>所在医院：</td>
                                            <td><strong><%= doctor[i].hospital_name%></strong></td>
                                        </tr>
                                        <tr>
                                            <td>医生专长：</td>
                                            <td><strong><%= doctor[i].advancedDisease%></strong></td>
                                        </tr>
                                        <tr>
                                            <td>医生简介：</td>
                                            <td><strong><%= doctor[i].intro%></strong></td>
                                        </tr>
                                        <tr>
                                            <td>是否出诊：</td>
                                            <td><strong><%= doctor[i].isOnDuty%></strong></td>
                                        </tr>
                                        <tr>
                                            <td>好评数：</td>
                                            <td><strong><%= doctor[i].goodReputation%></strong></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-offset-2 col-md-10">
                                    <table>
                                        <tr>
                                            <th style="width: 300px; padding-left: 50px;">出诊时段</th>
                                            <th style="width: 300px;">号源</th>
                                        </tr>
                                        <% for (var j = 0; j < doctor[i].timeAndSource.length; j++) {%>
                                        <tr>
                                            <td style="width: 300px;">
                                                <%= doctor[i].timeAndSource[j].time %>
                                            </td>
                                            <td style="width: 300px;">
                                                <%= doctor[i].timeAndSource[j].source %>
                                            </td>
                                        </tr>
                                        <% } %>
                                    </table>
                                </div>
                                <div class="col-md-offset-4" style="display: inline ">
                                    <a class="btn btn-primary"
                                       href="/book/time?hospitalid=<%= doctor[i].hospital_id  %>&departmentid=<%= doctor[i].departmentid %>&doctorid=<%= doctor[i]._id %>&datenum=-1">选择</a>
                                </div>
                            </div>
                        </div>
                        <br/>

                        <div style="height:2px;background-color:#C0C0C0;line-height:1px;clear:both;display:block;overflow:hidden"></div>
                        <br/>
                        <% } %>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-1">
    <!--左侧导航栏面板-->

</div>
<% include footer.html %>
</body>
</html>
