<div class="panel panel-info panel-left">
    <div class="panel-heading">
        &nbsp;&nbsp;欢迎来到医呼百应！
    </div>
    <div class="panel-body">
        <label class="usernumber-text1">医呼百应已成功为</label>
        <label class="usernumber">5&nbsp;&nbsp;5&nbsp;&nbsp;5&nbsp;&nbsp;2</label>
        <label class="usernumber-text2">位用户预约挂号</label>
        <a type="button" class="btn login-button" href="/login">登&nbsp;&nbsp;录</a>
        <a class="btn register-button" href="/register">注&nbsp;&nbsp;册</a>
    </div>
</div>