.body{
	font-family: "微软雅黑","宋体",Arial,Verdana,sans-serif;

}

.container{
	width: 970px;
}
.my-bar {
	height: 12px;
	background: rgba(1, 12, 39, 0.98);
	border-color: #010c27;
	color: #010c27;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}
.logo{
	font-size: 34px;
	font-family: "微软雅黑";
	margin-top: 48px;
	margin-bottom: 28px;
	color: #ffffff;
}
.logo-th{
	font-size: 34px;
	font-family: "微软雅黑";
}
.head-table{
	border: none;
	margin-bottom: 35px;
}
.search-button{
	background-color: #f9a821;
	color: #ffffff;
}
.input-group{
	width: 450px;
	padding-top: 55px;
	margin-right: 150px;
	margin-left: 20px;
}
.head-navbar{
	font-size: 15px;
	padding-left: 280px;
	font-family: "微软雅黑","宋体",Arial,Verdana,sans-serif;
}
.panel-left{
	width: 170px;
	margin-left: 40px;
}
.panel-right{
	width: 700px;
}
.btn-group{
	width: 680px;
}
.btn-group-lg{
	width: 680px;
}
.logout-button{
	margin-top: 20px;
	background-color: #bababa;
	border: 0;
	color: #ffffff;
}
select{
	font-family: "微软雅黑","宋体",Arial,Verdana,sans-serif;
	color: #333;
	font-size: 15px;
	width: 140px;
	margin-left: 5%;
	border-radius: 5px;
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.right-panel-div{
	font-family: "微软雅黑","宋体",Arial,Verdana,sans-serif;
	font-size: 16px;
	margin-left: 5%;
}
.area-div{
	margin-top: 20px;
}
.hospital-div{
	margin-top: 20px;
	margin-bottom: 20px;
}
.next-button{
	background-color: #f9a821;
	color: #ffffff;
	text-align: center;
	width: 140px;
	margin-left: 240px;
	margin-bottom: 20px;
}
.panel-head-center{
	text-align: center;
	font-size: 18px;
	font-family: "微软雅黑","宋体",Arial,Verdana,sans-serif;
}

.book-button {
	background-color: #f9a821;
	color: #ffffff;
	text-align: center;
	width: 140px;
	margin-left: 5px;
	margin-bottom: 15px;
}

.panel-body-center{
	text-align: center;
	font-family: "微软雅黑","宋体",Arial,Verdana,sans-serif;
	font-weight: normal;
}
.body-table{
	width: 100%;
}
.th-left{
	width: 200px;
	padding-top: 5px;
	text-align: right;
	font-weight: normal;
}
.th-right{
	padding-top: 5px;
	padding-left: 10px;
	font-weight: normal;
}
.index-tab{
	border-color: #bce8f1;
	color: #31708f;
	margin-left: 150px;
	margin-right: 100px;
	width: 500px;
}
.mybox{
	display: block;
}
.divFound {
	font-family: "微软雅黑","宋体",Arial,Verdana,sans-serif;
	border: solid 1px;
	border-color: #337ab7;
}
table td {
	padding: 5px;
}
h3 {
	color: blue;
	font-weight: bold;
}
.aNoChange {
}
a:hover {
	text-decoration: none;
}
.myhr{
	border-top: 1px solid #337ab7;
}

.myh2{
	font-size: 20px;
	color: #010c27;
}

.col-sm-offset-2 {
	margin-left: 18.2%;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #010c27;
	background-color: #fff;
}
.panel-right{
	min-height: 300px;
}
td.th-right{
	width: 300px;
	line-height: 29px;
}

