.panel-head-personalinfo{

}

.my-bread{
	background-color: #d9edf7;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 18px;
	font-family: "微软雅黑","宋体",Arial,Verdana,sans-serif;
}

.th-label{
	margin-top: 20px;
	font-weight: normal;
}

.button-center{
	margin-left: 300px;
	margin-bottom: 30px;
	font-size: 16px;
	padding-right: 60px;
	padding-left: 60px;
	padding-top: 8px;
	padding-bottom: 8px;
}