#userInfo{
	background-color: #0066FF;
	float: top;
	height: 50px;
	line-height: 50px;

}
.userInfoSytle{
	text-align: center;
	color: white;
	font-size: 1.2em;
	font-family:"微软雅黑";
}

a{color: white;}
a:link {color:white; text-decoration: none;}
a:visited {color:white;}	
a:hover {text-decoration:none; color:white;}	

.hospitalInfoSytle{
	font-style: ;
	font-size: 1.3em;
	color: #333333;
	font-family:"微软雅黑";
}

.hr3{ height:5px;border:none;border-top:5px ridge #6f6f6f;}