<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
		<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
		<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<title>AdminLogin</title>
		<script type="text/javascript">
 			$(document).ready(init);
 	
 			function init() {
 				$("btnLogin").on("click", function1);
 			}
 	
 			function function1() {
 				// test
 				$("form").attr("action", "#");
 				$("form").submit();
 			}
 		</script>
	<style type="text/css">
		body {
			background: url("/images/bg_adminlogin.jpg") no-repeat;
			background-size: 100%;
		}

		.box {
			width: 394px;
			padding: 40px 20px 20px 10px;
			border: 1px solid #BFBFBF;
			background-color: #f5f5f5;
			/* Add box-shadow */
			box-shadow: 2px 2px 3px #aaaaaa;
			border-radius: 20px;
			margin-top: 150px;
		}

		.warn {
			width: 393px;
			position: absolute;
			color: red;
			top: -75px;
			left: -1px;
		}

	</style>
</head>
<body>
<form class="form-horizontal" method="post" action="/admin_login">
		<div class="col-md-offset-1">
	  		<span class="text-left text-primary"> <h1>医呼百应<small>管理员登录页面</small> </h1></span>
	  	</div>

	<div class="col-md-offset-4 col-md-4 box">
			<% if (typeof(error) !== 'undefined' && error) { %>
		<div class="alert alert-warning alert-dismissible warn" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
					class="sr-only">Close</span></button>
				<strong><%= error %></strong>
			</div>
			<% } %>
			<div class="form-group">
				<label class="control-label col-sm-5" for="name"> 用户名 </label>
				<div class="col-sm-7">
					<input type="text" name="name" id="name" class="form-control" placeholder="请输入用户名"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-5" for="password"> 密码 </label>
				<div class="col-sm-7">
					<input type="password" name="password" id="password" class="form-control" placeholder="请输入密码"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-7 col-sm-2">
					<input type="submit" name="btnLogin" id="btnLogin" class="btn btn-primary" value="login"/>
				</div>
			</div>
		</div>
	</form>
</body>
</html>