<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
	<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="/javascripts/admin.js"></script>
	<style type="text/css">
		.navbar-default{margin:0px;}
		.breadcrumb{margin:0px;}
	</style>
	<title>AdminSys</title>
</head>
<body>
	<%- include header.html%>
	<div class="panel panel-default" id="hosInfoManage">
	  	<div class="panel-heading">
	    	<h2 class="panel-title">医院信息管理</h2>
	  	</div>
		
		<nav class="navbar navbar-default" role="navigation">
		  	<!-- Collect the nav links, forms, and other content for toggling -->
			<ul class="nav nav-pills">
				<li class="active"><a href="/admin/hosInfo">查看医院</a></li>
				<li><a href="/admin/hosAdd">新增医院</a></li>
				<li><a href="/admin/hosAlter">医院端修改</a></li>
			</ul>
		</nav>

		<ol class="breadcrumb">
			<% var1 url = '/admin/deptInfo/?hos_id='+hospital.hospital_id; %>
			<% var2 url = '/admin/docInfo/?dept_id='+dept.dept_id; %>
			<li><a href="<%= var1%>">xxx医院</a></li>
			<li><a href="<%= var2%>">xxx科室</a></li>
			<li class="active"><a href="#">xxx医生</a></li>
		</ol>

	  	<div class="subpanel" id="callInfo">
	  		<table class="table table-hover">
				<thead>
					<tr>
						<th>出诊时间段</th>
						<th>具体时间</th>
						<th>是否出诊</th>
						<th>号源总量</th>
						<th>剩余号源数量</th>
						<th>编辑</th>
					</tr>
				</thead>
				<tbody>
					<% for(var i=0; i<calls.length; i++) {%>
					<tr>
						<td>XXX</td>
						<td>XXX</td>
						<td>XXX</td>
						<td>XXX</td>
						<td>XXX</td>
						<td>
							<a href="#" data-toggle="modal" data-target="#infoModal">
							  编辑
							</a>
						</td>
						<!-- Modal -->
						<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content col-md-8">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"
												aria-hidden="true">&times;</button>
										<h4 class="modal-title" id="myModalLabel">出诊信息</h4>
									</div>
									<div class="modal-body">
										<form class="input-group">
											<div class="input-group">
												<span class="input-group-addon">出诊时间段</span>

												<div class="form-control">
													<input type="time" id="starttime">至<input type="time" id="endtime">
												</div>
											</div>
											<div class="input-group">
												<span class="input-group-addon">具体时间</span>
												<input type="time" class="form-control" placeholder="具体时间"
													   id="specifictime">
											</div>
											<div class="input-group">
												<span class="input-group-addon">是否出诊</span>
												<select class="form-control">
													<option value="1">是</option>
													<option value="2">否</option>
												</select>
											</div>
											<div class="input-group">
												<span class="input-group-addon">号源总量</span>
												<select class="form-control">
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
													<option value="8">8</option>
													<option value="9">9</option>
													<option value="10">10</option>
													<option value="11">11</option>
													<option value="12">12</option>
												</select>
											</div>
											<div class="input-group">
												<span class="input-group-addon">剩余号源数量</span>
												<select class="form-control">
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
													<option value="8">8</option>
													<option value="9">9</option>
													<option value="10">10</option>
													<option value="11">11</option>
													<option value="12">12</option>
												</select>
											</div>
											<button type="submit" class="btn btn-default">修改</button>
											<button type="reset" class="btn btn-primary">重置</button>
										</form>
									</div>
								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div><!-- /.modal -->
					</tr>
					<% } %>
				</tbody>
			</table>
			<%- partial('list', {
			pages: pages,
			page: page,
			base: '/admin/callInfo/'
			}) %>
	  	</div>
	</div>
</body>
</html>