<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
	<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="/javascripts/admin.js"></script>
	<style type="text/css">
		.navbar-default{margin:0px;}
		.breadcrumb{margin:0px;}
	</style>
	<title>AdminSys</title>
</head>
<body>
	<%- include header.html%>
	<div class="panel panel-default" id="hosInfoManage">
	  	<div class="panel-heading">
	    	<h2 class="panel-title">医院信息管理</h2>
	  	</div>
		
		<nav class="navbar navbar-default" role="navigation">
		  	<!-- Collect the nav links, forms, and other content for toggling -->
			<ul class="nav nav-pills">
				<li class="active"><a href="/admin/hosInfo">查看医院</a></li>
				<li><a href="/admin/hosAdd">新增医院</a></li>
				<li><a href="/admin/hosAlter">医院端修改</a></li>
			</ul>
		</nav>

		<ol class="breadcrumb">
			<% var url1 = '/admin/deptInfo/?hos_id='+hos_id; %>
			<% var url2 = '/admin/docInfo/?dept_id='+dept_id; %>
			<li><a href="<%= url1%>"><%=hos_name%></a></li>
			<li><a href="<%= url2%>"><%=dept_name%></a></li>
			<li class="active"><a href="#"><%=doctor.doctor_name%></a></li>
		</ol>

		<button type="button" class="btn btn-default btn-info" data-toggle="modal" data-target="#callAddModal">新增出诊信息
		</button>
		<div class="modal fade" id="callAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
			 aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">新增出诊信息</h4>
					</div>
					<div class="modal-body">
						<form class="input-group col-md-8" action="/admin/addDocVisit">
							<input type="hidden" id="doc_id" name="doc_id" value="<%= doctor._id %>"/>
							<div class="input-group">
								<span class="input-group-addon">开始时间</span>
								<input class="form-control" type="time" name="visit_start_time">
							</div>
							<div class="input-group">
								<span class="input-group-addon">结束时间</span>
								<input type="time" class="form-control" placeholder="结束时间"
									   name="visit_end_time">
							</div>
							<div class="input-group">
								<span class="input-group-addon">号源总量</span>
								<input class="form-control" type="text" name="totalSource">
							</div>
							<div class="input-group">
								<span class="input-group-addon">剩余号源数量</span>
								<input class="form-control" type="text" name="leftSource">
							</div>
							<div class="input-group">
								<span class="input-group-addon">出诊费用</span>
								<input class="form-control" type="text" name="fee">
							</div>
							<button type="submit" class="btn btn-default">添加</button>
							<button type="reset" class="btn btn-primary">重置</button>
						</form>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

	  	<div class="subpanel" id="callInfo">
	  		<table class="table table-hover">
				<thead>
					<tr>
						<th>开始时间</th>
						<th>结束时间</th>
						<th>号源总量</th>
						<th>剩余号源数量</th>
						<th>出诊费用</th>
						<th>编辑</th>
					</tr>
				</thead>
				<tbody>
					<% for(var i=0; i<doctor.doctor_visit.length; i++) {%>
					<tr>
						<td><%= doctor.doctor_visit[i].visit_start_time %></td>
						<td><%=doctor.doctor_visit[i].visit_end_time %></td>
						<td><%= doctor.doctor_visit[i].totalSource %></td>
						<td><%= doctor.doctor_visit[i].leftSource %></td>
						<td><%= doctor.doctor_visit[i].fee %></td>
						<td>
							<a href="#" data-toggle="modal" data-target="#infoModal<%= i%>">
							  编辑
							</a>
						</td>
						<!-- Modal -->
						<div class="modal fade" id="infoModal<%= i%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content col-md-8">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"
												aria-hidden="true">&times;</button>
										<h4 class="modal-title" id="myModalLabel">出诊信息</h4>
									</div>
									<div class="modal-body">
										<form class="input-group" action="/admin/modifyDocVisit">
											<input type="hidden" name="visit_id" value="<%= doctor.doctor_visit[i]._id %>"/>
											<div class="input-group">
												<span class="input-group-addon">开始时间</span>
												<input class="form-control" type="time" name="visit_start_time">
											</div>
											<div class="input-group">
												<span class="input-group-addon">结束时间</span>
												<input type="time" class="form-control" placeholder="结束时间"
													   name="visit_end_time">
											</div>
											<div class="input-group">
												<span class="input-group-addon">号源总量</span>
												<input class="form-control" type="text" name="totalSource">
											</div>
											<div class="input-group">
												<span class="input-group-addon">剩余号源数量</span>
												<input class="form-control" type="text" name="leftSource">
											</div>
											<div class="input-group">
												<span class="input-group-addon">出诊费用</span>
												<input class="form-control" type="text" name="fee">
											</div>
											<button type="submit" class="btn btn-default">修改</button>
											<button type="reset" class="btn btn-primary">重置</button>
										</form>
									</div>
								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div><!-- /.modal -->
					</tr>
					<% } %>
				</tbody>
			</table>
			<%- partial('list', {
			pages: pages,
			page: page,
			base: '/admin/callInfo/'
			}) %>
	  	</div>
	</div>
	<script language="javascript">
		$(document).ready(function() {
			$('form').submit(function() {
				$.post($(this).attr('action'),$(this).serialize(),function(result) {
					if (result.status == 0) {
						window.location.reload();
					} else {
						if (result.msg) {
							alert(result.msg);
						} else {
							alert('服务器异常');
						}
					}
				},'json')
				return false;
			});
		});
	</script>
</body>
</html>