<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
	<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="/javascripts/admin.js"></script>
	<style type="text/css">
		.navbar-default{margin:0px;}
		.breadcrumb{margin:0px;}
	</style>
	<title>AdminSys</title>
</head>
<body>
	<%- include header.html%>
	<div class="panel panel-default" id="hosInfoManage">
		<%- include hosbar.html%>

		<ol class="breadcrumb">
			<% var url = '/admin/deptInfo/?hos_id='+hospital.hospital_id; %>
			<li class="active"><a href="<%= url %>"><%= hospital.hospital_name%></a></li>
		</ol>
	  	<div class="panel-body subpanel" id="deptInfo">
			<form class="input-group">
			  <span class="input-group-addon">新增科室</span>
			  <div class="col-md-4">
			    <input type="text" class="form-control" placeholder="新增科室名称">
			  </div>
			  <button type="submit" class="btn btn-default">新增</button>
			  <button type="reset" class="btn btn-primary">重置</button>
			</form>
	    	<table class="table table-hover">
				<thead>
					<tr>
						<th>科室ID</th>
						<th>科室名称</th>
						<th>所属医院</th>
						<th>医生信息</th>
						<th>编辑</th>
						<th>删除</th>
					</tr>
				</thead>
				<tbody>
				<% for(var i=0; i
				<hospital.hospital_dept.length
						; i++) {%>
					<tr>
						<td><%= hospital.hospital_dept[i]._id%></td>
						<td><%= hospital.hospital_dept[i].dept_name%></td>
						<td><%= hospital.hospital_name%></td>
						<% var url = '/admin/docInfo/?dept_id='+hospital.hospital_dept[i]._id; %>
						<td><a href='<%= url %>'>查看</a></td>
						<td>
							<a href="#" data-toggle="modal" data-target="#editModal">
							  编辑
							</a>
						</td>
						<!-- Modal -->
						<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						        <h4 class="modal-title" id="myModalLabel">修改科室信息</h4>
						      </div>
						      <div class="modal-body">
						        <form class="input-group">
								  <div class="col-md-6">
								    <input type="text" class="form-control" placeholder="科室名称">
								  </div>
								  <button type="submit" class="btn btn-default">修改</button>
								  <button type="reset" class="btn btn-primary">重置</button>
								</form>
						      </div>
						    </div><!-- /.modal-content -->
						  </div><!-- /.modal-dialog -->
						</div><!-- /.modal -->
						<td><!-- Button trigger modal -->
							<a href="#" data-toggle="modal" data-target="#myModal">
							  删除
							</a>
						</td>
						<!-- Modal -->
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						      </div>
						      <div class="modal-body">
						        <h4 class="error-text"><span class="glyphicon glyphicon-warning-sign"></span>确定要删除吗？</h4>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						        <button type="button" class="btn btn-primary">删除</button>
						      </div>
						    </div><!-- /.modal-content -->
						  </div><!-- /.modal-dialog -->
						</div><!-- /.modal -->
					</tr>
					<% } %>
				</tbody>
			</table>
			<%- partial('list', {
			pages: pages,
			page: page,
			base: '/admin/deptInfo/'
			}) %>
	  	</div>
	</div>
</body>
</html>