<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
	<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="/javascripts/admin.js"></script>
	<style type="text/css">
		.navbar-default{margin:0px;}
		.breadcrumb{margin:0px;}
	</style>
	<title>AdminSys</title>
</head>
<body>
	<%- include header.html%>
	<div class="panel panel-default" id="hosInfoManage">
		<%- include hosbar.html%>

		<ol class="breadcrumb">
			<% var url = '/admin/deptInfo/?hos_id='+hospital.hospital_id; %>
			<li><a href="<%= var%>"><%= hospital.hospital_name %></a></li>
			<li class="active"><a href="#"><%= hospital.dept_name %></a></li>
		</ol>

		<button type="button" class="btn btn-default btn-info" data-toggle="modal" data-target="#docAddModal">新增医生
		</button>
		<div class="modal fade" id="docAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
			 aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="">新增医生</h4>
					</div>
					<div class="modal-body">
						<form class="input-group col-md-8">
							<div class="input-group">
								<span class="input-group-addon">医生姓名</span>
								<input type="text" class="form-control" placeholder="医生姓名">
							</div>
							<div class="input-group">
								<span class="input-group-addon">医生简介</span>
								<textarea class="form-control" name="医生简介" id="" cols="30" rows="10"></textarea>
							</div>
							<div class="input-group">
								<span class="input-group-addon">擅长项目</span>
								<input type="text" class="form-control" placeholder="擅长项目">
							</div>
							<button type="submit" class="btn btn-default">新增</button>
							<button type="reset" class="btn btn-primary">重置</button>
						</form>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
	  	<div class="panel-body subpanel" id="docInfo">
	    	<table class="table table-hover">
				<thead>
					<tr>
						<th>医生ID</th>
						<th>医生姓名</th>
						<th>医生简介</th>
						<th>擅长项目</th>
						<th>出诊信息</th>
						<th>编辑</th>
						<th>删除</th>
					</tr>
				</thead>
				<tbody>
				<% for(var i=0; i
				<hospital.doctors.length
						; i++) {%>
					<tr>
						<td><%= hospital.doctors[i]._id %></td>
						<td><%= hospital.doctors[i].doc_name %></td>
						<td><%= hospital.doctors[i].doc_intro %></td>
						<td><%= hospital.doctors[i].good_illness%></td>
						<% var url = '/admin/callInfo/?doc_id='+hospital.doctors[i]._id; %>
						<td><a href='<%= url %>'>查看</a></td>
						<td>
							<a href="#" data-toggle="modal" data-target="#infoModal">
							  编辑
							</a>
						</td>
						<!-- Modal -->
						<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						        <h4 class="modal-title" id="myModalLabel"><%= doctors[i].doctor_name %></h4>
						      </div>
						      <div class="modal-body">
						        <form class="input-group">
								  <div class="input-group">
									  <span class="input-group-addon">医生姓名</span>
									  <input type="text" class="form-control" placeholder="医生姓名">
								  </div>
								  <div class="input-group">
									  <span class="input-group-addon">医生简介</span>
									  <textarea class="form-control" name="医生简介" id="" cols="30" rows="10"></textarea>
								  </div>
								  <div class="input-group">
									  <span class="input-group-addon">擅长项目</span>
									  <input type="text" class="form-control" placeholder="擅长项目">
								  </div>
								  <button type="submit" class="btn btn-default">修改</button>
								  <button type="reset" class="btn btn-primary">重置</button>
								</form>
						      </div>
						    </div><!-- /.modal-content -->
						  </div><!-- /.modal-dialog -->
						</div><!-- /.modal -->
						<td><!-- Button trigger modal -->
							<a href="#" data-toggle="modal" data-target="#myModal">
							  删除
							</a>
						</td>
						<!-- Modal -->
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						      </div>
						      <div class="modal-body">
						        <h4 class="error-text"><span class="glyphicon glyphicon-warning-sign"></span>确定要删除吗？</h4>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						        <button type="button" class="btn btn-primary">删除</button>
						      </div>
						    </div><!-- /.modal-content -->
						  </div><!-- /.modal-dialog -->
						</div><!-- /.modal -->
					</tr>
					<% } %>
				</tbody>
			</table>
			<%- partial('list', {
			pages: pages,
			page: page,
			base: '/admin/docInfo/'
			}) %>
	  	</div>
	</div>
</body>
</html>