<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
	<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="admin.js"></script>
	<title>AdminSys</title>
</head>
<body>
	<header>
		<nav class="navbar navbar-default" role="navigation">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
		    <a class="navbar-brand" href="#">医呼百应<small>系统管理系统</small></a>
		  </div>

		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    <ul class="nav navbar-nav ">
		      <li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown">信息管理<b class="caret"></b></a>
		        <ul class="dropdown-menu">
		          <li role="presentation"><a href="hosInfo.html">医院信息管理</a></li>
		          <li class="divider"></li>
		          <li role="presentation"><a href="userInfo.html">用户信息管理</a></li>
		        </ul>
		      </li>
		      <li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown">反馈信息<b class="caret"></b></a>
		        <ul class="dropdown-menu">
		          <li role="presentation"><a href="hosFeedback.html">医院反馈信息</a></li>
		          <li class="divider"></li>
		          <li role="presentation"><a href="userFeedback.html">用户反馈信息</a></li>
		        </ul>
		      </li>
		      <li role="presentation"><a href="exceptionManage.html">异常管理</a></li>
		    </ul>
		    <form class="navbar-form navbar-left" role="search">
		      <div class="form-group">
		        <input type="text" class="form-control" placeholder="Search">
		      </div>
		      <button type="submit" class="btn btn-default">搜索</button>
		    </form>
			<p class="navbar-text navbar-right">欢迎，管理员 <a href="#" class="navbar-link">Admin</a></p>
		  </div><!-- /.navbar-collapse -->  
		</nav>
	</header>

	<div class="panel panel-default" id="exceptionManage">
	  	<div class="panel-heading">
	    	<h2 class="panel-title">异常管理</h2>
	  	</div>
	 	<div class="panel-body">
	    	<button type="button" class="btn btn-default btn-info">获取异常</button>
	    	<table class="table table-hover">
				<thead>
					<tr>
						<th>用户身份证号</th>
						<th>异常信息</th>
						<th>处理异常</th>
						<th>忽略异常</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>XXX</td>
						<td>同一IP挂号次数超过上限</td>
						<td><a href="#">处理</a></td>
						<td><a href="#">忽略</a></td>
					</tr>
				</tbody>
			</table>
			<nav class="col-md-offset-5">
			  	<ul class="pagination">
				    <li><a href="#">&laquo;</a></li>
				    <li><a href="#">1</a></li>
				    <li><a href="#">2</a></li>
				    <li><a href="#">3</a></li>
				    <li><a href="#">4</a></li>
				    <li><a href="#">5</a></li>
				    <li><a href="#">&raquo;</a></li>
			  	</ul>
			</nav>
	  	</div>
	</div>
	
</body>
</html>