<%- include header.html%>
	<div class="panel panel-default" id="exceptionManage">
	  	<div class="panel-heading">
	    	<h2 class="panel-title">异常管理</h2>
	  	</div>
	 	<div class="panel-body">
	    	<button type="button" class="btn btn-default btn-info">获取异常</button>
	    	<table class="table table-hover">
				<thead>
					<tr>
						<th>用户身份证号</th>
						<th>异常信息</th>
						<th>用户IP</th>
						<th>处理异常</th>
						<th>忽略异常</th>
					</tr>
				</thead>
				<tbody>
					<% for(var i=0; i<exceps.length; i++) {%>
					<tr>
						<td><%= exceps[i].username%></td>
						<td><%= exceps[i].info%></td>
						<td><%= exceps[i].ip%></td>
						<td><a href="#">处理</a></td>
						<td><a href="#">忽略</a></td>
					</tr>
					<% } %>
				</tbody>
			</table>
			<%- partial('list', {
			pages: pages,
			page: page,
			base: '/admin/exceptionInfo/'
			}) %>
	  	</div>
	</div>
	
</body>
</html>