<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
	<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="admin.js"></script>
	<style type="text/css">
		.navbar-default{margin:0px;}
		.breadcrumb{margin:0px;}
	</style>
	<title>AdminSys</title>
</head>
<body>
	<header>
		<nav class="navbar navbar-default" role="navigation">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
		    <a class="navbar-brand" href="#">医呼百应<small>系统管理系统</small></a>
		  </div>

		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    <ul class="nav navbar-nav ">
		      <li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown">信息管理<b class="caret"></b></a>
		        <ul class="dropdown-menu">
		          <li role="presentation"><a href="hosInfo.html">医院信息管理</a></li>
		          <li class="divider"></li>
		          <li role="presentation"><a href="userInfo.html">用户信息管理</a></li>
		        </ul>
		      </li>
		      <li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown">反馈信息<b class="caret"></b></a>
		        <ul class="dropdown-menu">
		          <li role="presentation"><a href="hosFeedback.html">医院反馈信息</a></li>
		          <li class="divider"></li>
		          <li role="presentation"><a href="userFeedback.html">用户反馈信息</a></li>
		        </ul>
		      </li>
		      <li role="presentation"><a href="exceptionManage.html">异常管理</a></li>
		    </ul>
		    <form class="navbar-form navbar-left" role="search">
		      <div class="form-group">
		        <input type="text" class="form-control" placeholder="Search">
		      </div>
		      <button type="submit" class="btn btn-default">搜索</button>
		    </form>
			<p class="navbar-text navbar-right">欢迎，管理员 <a id="logout" href="javascript:void(0)" class="navbar-link" data-container="body" data-toggle="popover" data-placement="bottom" data-content='<a href="adminLogin.html">退出</a>'>Admin</a></p>
		  </div><!-- /.navbar-collapse -->  
		</nav>
	</header>
	
	<div class="panel panel-default" id="hosInfoManage">
	  	<div class="panel-heading">
	    	<h2 class="panel-title">医院信息管理</h2>
	  	</div>
		
		<nav class="navbar navbar-default" role="navigation">
		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <ul class="nav nav-pills">
			  <li><a href="hosInfo.html">查看医院</a></li>
			  <li><a href="hosAdd.html">新增医院</a></li>
			  <li class="active"><a href="hosAlter.html">医院端修改</a></li>
		  </ul>
		</nav>


	  	<div class="panel-body" id="hosAlter">
	    	<table class="table table-hover">
				<thead>
					<tr>
						<th>医院ID</th>
						<th>医院名称</th>
						<th>医院简介</th>
						<th>联系方式</th>
						<th>变更信息</th>
						<th>通过</th>
						<th>删除</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>XXX</td>
						<td>XXX</td>
						<td>
							<a href="#" data-toggle="modal" data-target="#infoModal">
							  查看详细信息
							</a>
						</td>
						<!-- Modal -->
						<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						        <h4 class="modal-title" id="myModalLabel">XXX医院</h4>
						      </div>
						      <div class="modal-body">
						        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						      </div>
						    </div><!-- /.modal-content -->
						  </div><!-- /.modal-dialog -->
						</div><!-- /.modal -->
						<td>XXX</td>
						<td>XXX</td>
						<td><a href="#">通过</a></td>
						<td><!-- Button trigger modal -->
							<a href="#" data-toggle="modal" data-target="#myModal">
							  删除
							</a>
						</td>
						<!-- Modal -->
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						      </div>
						      <div class="modal-body">
						        <h4 class="error-text"><span class="glyphicon glyphicon-warning-sign"></span>确定要删除吗？</h4>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						        <button type="button" class="btn btn-primary">删除</button>
						      </div>
						    </div><!-- /.modal-content -->
						  </div><!-- /.modal-dialog -->
						</div><!-- /.modal -->
					</tr>
				</tbody>
			</table>
			<nav class="col-md-offset-5">
			  	<ul class="pagination">
				    <li><a href="#">&laquo;</a></li>
				    <li><a href="#">1</a></li>
				    <li><a href="#">2</a></li>
				    <li><a href="#">3</a></li>
				    <li><a href="#">4</a></li>
				    <li><a href="#">5</a></li>
				    <li><a href="#">&raquo;</a></li>
			  	</ul>
			</nav>
	  	</div>
	</div>
</body>
</html>