<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
	<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="/javascripts/admin.js"></script>
	<style type="text/css">
		.navbar-default{margin:0px;}
		.breadcrumb{margin:0px;}
	</style>
	<title>AdminSys</title>
</head>
<body>
	<%- include header.html%>
	<div class="panel panel-default" id="hosInfoManage">
	  	<div class="panel-heading">
	    	<h2 class="panel-title">医院信息管理</h2>
	  	</div>
		
		<nav class="navbar navbar-default" role="navigation">
		  <!-- Collect the nav links, forms, and other content for toggling -->
			<ul class="nav nav-pills">
				<li><a href="/admin/hosInfo">查看医院</a></li>
				<li><a href="/admin/hosAdd">新增医院</a></li>
				<li class="active"><a href="/admin/hosAlter">医院端修改</a></li>
			</ul>
		</nav>


	  	<div class="panel-body" id="hosAlter">
	    	<table class="table table-hover">
				<thead>
					<tr>
						<th>医院ID</th>
						<th>医院名称</th>
						<th>变更信息</th>
						<th>通过</th>
						<th>删除</th>
					</tr>
				</thead>
				<tbody>
					<% for(var i=0; i<hosalters.length; i++) {%>
					<tr>
						<td><%= hosalters[i].hospital_id%></td>
						<td><%= hosalters[i].hospital_name%></td>
						<td>
							<a href="#" data-toggle="modal" data-target="#infoModal">
							  查看详细信息
							</a>
						</td>
						<!-- Modal -->
						<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						        <h4 class="modal-title" id="myModalLabel"><%= hosalters[i].hospital_name%></h4>
						      </div>
						      <div class="modal-body">
								  <%= hosalters[i].alterinfo%>
						      </div>
						    </div><!-- /.modal-content -->
						  </div><!-- /.modal-dialog -->
						</div><!-- /.modal -->
						<td><a href="#">通过</a></td>
						<td><!-- Button trigger modal -->
							<a href="#" data-toggle="modal" data-target="#myModal">
							  删除
							</a>
						</td>
						<!-- Modal -->
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						      </div>
						      <div class="modal-body">
						        <h4 class="error-text"><span class="glyphicon glyphicon-warning-sign"></span>确定要删除吗？</h4>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						        <button type="button" class="btn btn-primary">删除</button>
						      </div>
						    </div><!-- /.modal-content -->
						  </div><!-- /.modal-dialog -->
						</div><!-- /.modal -->
					</tr>
					<% } %>
				</tbody>
			</table>
			<%- partial('list', {
			pages: pages,
			page: page,
			base: '/admin/hosAlter/'
			}) %>
	  	</div>
	</div>
</body>
</html>