<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
	<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="/javascripts/admin.js"></script>
	<style type="text/css">
		.navbar-default{margin:0px;}
		.subpanel{display:none;}
		.breadcrumb{margin:0px;}
	</style>
	<title>AdminSys</title>
</head>
<body>
	<%- include header.html%>
	<div class="panel panel-default" id="hosInfoManage">
	  	<div class="panel-heading">
	    	<h2 class="panel-title">医院信息管理</h2>
	  	</div>
		
		<nav class="navbar navbar-default" role="navigation">
		  <!-- Collect the nav links, forms, and other content for toggling -->
			<ul class="nav nav-pills">
				<li><a href="/admin/hosInfo">查看医院</a></li>
				<li class="active"><a href="/admin/hosAdd">新增医院</a></li>
				<li><a href="/admin/hosAlter">医院端修改</a></li>
			</ul>
		</nav>

	  	<div class="panel-body" id="hosAdd">
	  		<form>
		  		<ul class="list-group">
				  <li class="list-group-item">
				  	<div class="input-group">
					  <span class="input-group-addon">医院名称</span>
					  <input type="text" class="form-control" placeholder="医院名称">
					</div>
				  </li>
				  <li class="list-group-item">
				  	<div class="input-group">
					  <span class="input-group-addon">医院简介</span>
					  <input type="text" class="form-control" placeholder="医院简介">
					</div>
				  </li>
				  <li class="list-group-item">
				  	<div class="input-group">
					  <span class="input-group-addon">联系方式</span>
					  <input type="text" class="form-control" placeholder="联系方式">
					</div>
				  </li>
				  
				</ul>
				
				<div class="col-md-4">
				  	<button type="reset" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="submit" class="btn btn-primary">完成</button>
				</div>
	  		</form>		
	  	</div>
	</div>
</body>
</html>
