<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
	<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="/javascripts/admin.js"></script>
	<script src="/javascripts/bt-validate.js"></script>
	<script type="text/javascript">
		$('#hosaddform').validation();
	</script>
	<style type="text/css">
		.navbar-default{margin:0px;}
		.subpanel{display:none;}
		.breadcrumb{margin:0px;}
	</style>
	<title>AdminSys</title>
</head>
<body>
	<%- include header.html%>
	<div class="panel panel-default" id="hosInfoManage">
	  	<div class="panel-heading">
	    	<h2 class="panel-title">医院信息管理</h2>
	  	</div>
		
		<nav class="navbar navbar-default" role="navigation">
		  <!-- Collect the nav links, forms, and other content for toggling -->
			<ul class="nav nav-pills">
				<li><a href="/admin/hosInfo">查看医院</a></li>
				<li class="active"><a href="/admin/hosAdd">新增医院</a></li>
				<li><a href="/admin/hosAlter">医院端修改</a></li>
			</ul>
		</nav>

	  	<div class="panel-body col-md-offset-3 col-md-5" id="hosAdd">
			<form id="hosaddform" method="post" action="/admin/hosAdd">
		  		<ul class="list-group">
				  <li class="list-group-item">
				  	<div class="input-group">
					  <span class="input-group-addon">医院名称</span>
						<input type="text" class="form-control" name="hos_name" id="hos_id" placeholder="医院名称">
					</div>
				  </li>
				  <li class="list-group-item">
				  	<div class="input-group">
					    <span class="input-group-addon">医院简介</span>
						<textarea class="form-control" name="hos_intro" cols="30" rows="10"></textarea>
					</div>
				  </li>
					<li class="list-group-item">
						<div class="input-group">
							<span class="input-group-addon">所在城市</span>
							<input type="text" class="form-control" name="hos_city" placeholder="所在城市">
						</div>
					</li>
					<li class="list-group-item">
						<div class="input-group">
							<span class="input-group-addon">详细地址</span>
							<input type="text" class="form-control" name="hos_location" placeholder="详细地址">
						</div>
					</li>
					<li class="list-group-item">
						<div class="input-group">
							<span class="input-group-addon">联系电话</span>
							<input type="text" class="form-control" name="hos_tel" placeholder="联系电话">
						</div>
					</li>
					<li class="list-group-item">
						<div class="input-group">
							<span class="input-group-addon">权重</span>
							<input type="text" class="form-control" name="hos_weight" id="id_hos_weight"
								   placeholder="权重" btvd-el='/^[0-9]\d*$/'
								   btvd-class='btvdclass' btvd-err="必须输入数字！" >
						</div>
					</li>
				</ul>
				
				<div class="col-md-4">
				  	<button type="reset" class="btn btn-default" data-dismiss="modal">取消</button>
					<input type="submit" class="btn btn-primary" value="完成"/>
				</div>
	  		</form>		
	  	</div>
	</div>
</body>
</html>