<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
	<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="/javascripts/admin.js"></script>
	<title>AdminSys</title>
</head>
<body>
	<%- include header.html%>
	<div class="panel panel-default" id="hosFeedback">
	  	<div class="panel-heading">
	    	<h2 class="panel-title">医院反馈信息</h2>
	  	</div>
	 	<div class="panel-body">
	    	<div class="list-group">
			  <li href="#" class="list-group-item active">
			    <span class="list-group-item-heading">XXX医院</span>
			    <button type="button" class="close" data-dismiss="alert">&times;</button>
			    <p class="list-group-item-text"><b>反馈内容：</b>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
			  </li>
			 <li href="#" class="list-group-item active">
			    <span class="list-group-item-heading">XXX医院</span>
			    <button type="button" class="close" data-dismiss="alert">&times;</button>
			    <p class="list-group-item-text"><b>反馈内容：</b>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
			  </li>
			</div>
			<nav class="col-md-offset-5">
			  	<ul class="pagination">
				    <li><a href="#">&laquo;</a></li>
				    <li><a href="#">1</a></li>
				    <li><a href="#">2</a></li>
				    <li><a href="#">3</a></li>
				    <li><a href="#">4</a></li>
				    <li><a href="#">5</a></li>
				    <li><a href="#">&raquo;</a></li>
			  	</ul>
			</nav>
	  	</div>
	</div>
	
</body>
</html>