<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
	<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="/javascripts/admin.js"></script>
	<style type="text/css">
		.navbar-default{margin:0px;}
		.breadcrumb{margin:0px;}
	</style>
	<title>AdminSys</title>
</head>
<body>
	<%- include header.html%>
	<div class="panel panel-default" id="hosInfoManage">
		<%- include hosbar.html%>

	 	<div class="panel-body subpanel" id="hosInfo">
	    	<table class="table table-hover">
				<thead>
					<tr>
						<th>医院ID</th>
						<th>医院名称</th>
						<th>医院简介</th>
						<th>所在城市</th>
						<th>详细地址</th>
						<th>联系电话</th>
						<th>权重</th>
						<th>查看科室</th>
						<th>编辑</th>
						<th>删除</th>
					</tr>
				</thead>
				<tbody>
					<% for(var i=0; i<hospitals.length; i++) {%>
					<tr>
						<td><%= hospitals[i]._id%></td>
						<td><%= hospitals[i].hospital_name%></td>
						<td>
							<a href="#" data-toggle="modal" data-target="#infoModal<%= i %>">
							  查看详细信息
							</a>
						</td>
						<!-- Modal -->
						<div class="modal fade" id="infoModal<%= i %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								  <h4 class="modal-title" id="myModalLabel"><%= hospitals[i].hospital_name%></h4>
						      </div>
						      <div class="modal-body">
								  <%= hospitals[i].hospital_intro%>
						      </div>
						    </div><!-- /.modal-content -->
						  </div><!-- /.modal-dialog -->
						</div><!-- /.modal -->
						<td><%= hospitals[i].hospital_city%></td>
						<td><%= hospitals[i].hospital_location%></td>
						<td><%= hospitals[i].hospital_tel%></td>
						<td><%= hospitals[i].hospital_weight%></td>
						<% var url = '/admin/deptInfo/?hos_id='+hospitals[i]._id; %>
						<td><a href='<%= url %>'>查看科室</a></td>
						<td>
							<a href="#" data-toggle="modal" data-target="#editModal<%= i %>">
							  编辑
							</a>
						</td>
						<!-- Modal -->
						<div class="modal fade" id="editModal<%= i %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel<%= i %>" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						        <h4 class="modal-title" id="hosEditLabel">修改医院信息</h4>
						      </div>
						      <div class="modal-body">
						        <form class="input-group" action="/admin/modifyHos">
									<input type="hidden" id="hos_id" name="hos_id" value="<%= hospitals[i]._id %>">
								    <div class="input-group">
									  <span class="input-group-addon">医院名称</span>
									  <input type="text" class="form-control" id="hos_name" name="hos_name" placeholder="医院名称" value="<%= hospitals[i].hospital_name%>">
								    </div>
								    <div class="input-group">
									  <span class="input-group-addon">医院简介</span>
									  <textarea class="form-control" id="hos_intro" name="hos_intro" cols="30" rows="10"><%= hospitals[i].hospital_intro%></textarea>
									  <!--input type="text" class="form-control" placeholder="医院简介"> -->
								    </div>
									<div class="input-group">
										<span class="input-group-addon">所在城市</span>
										<input type="text" class="form-control" id="hos_city" name="hos_city" placeholder="所在城市" value="<%= hospitals[i].hospital_city%>">
									</div>
									<div class="input-group">
										<span class="input-group-addon">详细地址</span>
										<input type="text" class="form-control" id="hos_location" name="hos_location" placeholder="详细地址" value="<%= hospitals[i].hospital_location%>">
									</div>
									<div class="input-group">
										<span class="input-group-addon">联系电话</span>
										<input type="text" class="form-control" id="hos_tel" name="hos_tel" placeholder="联系电话" value="<%= hospitals[i].hospital_tel%>">
									</div>
									<div class="input-group">
										<span class="input-group-addon">权重</span>
										<input type="text" class="form-control" id="hos_weight" name="hos_weight" placeholder="权重" value="<%= hospitals[i].hospital_weight%>">
									</div>
								  <button type="submit" class="btn btn-default" id="<%= i %>">修改</button>
								  <button type="reset" class="btn btn-primary">重置</button>
								</form>
						      </div>
						    </div><!-- /.modal-content -->
						  </div><!-- /.modal-dialog -->
						</div><!-- /.modal -->
						<td><!-- Button trigger modal -->
							<a href="#" data-toggle="modal" data-target="#myModal<%= i %>">
							  删除
							</a>
						</td>
						<!-- Modal -->
						<div class="modal fade" id="myModal<%= i %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						      </div>
						      <div class="modal-body">
						        <h4 class="error-text"><span class="glyphicon glyphicon-warning-sign"></span>确定要删除<b><%= hospitals[i].hospital_name%></b>吗？</h4>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						        <button type="button" id="<%= hospitals[i]._id %>" class="btn btn-primary del">删除</button>
						      </div>
						    </div><!-- /.modal-content -->
						  </div><!-- /.modal-dialog -->
						</div><!-- /.modal -->
					</tr>
					<% } %>
				</tbody>
			</table>
			<%- partial('list', {
			pages: pages,
			page: page,
			base: '/admin/hosInfo/'
			}) %>
	  	</div>
	</div>
	<script type="text/javascript">
		var td = document.getElementsByTagName("td");
		for(var i = 0;i < td.length; i++){
			if(td[i].innerHTML=="undefined"){
				td[i].innerHTML=null;
			}
		}
	</script>
	<script>
		$(document).ready(function() {
			$('form').submit(function() {
				$.post($(this).attr('action'),$(this).serialize(),function(result) {
					if (result.status == 0) {
						window.location.reload();
					} else {
						if (result.msg) {
							alert(result.msg);
						} else {
							alert('服务器异常');
						}
					}
				},'json')
				return false;
			});
		});
	</script>
	<script>
		$(document).ready(function() {
			$('button.del').click(function(){
				var bid = $(this).attr("id");
				$.post("/admin/dropHos",{"hos_id":bid},function(result) {
					if (result.status == 0) {
						window.location.reload();
					} else {
						if (result.msg) {
							alert(result.msg);
						} else {
							alert('服务器异常');
						}
					}
				},'json');
				return false;
			});
		});
	</script>
</body>
</html>