<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
	<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="/javascripts/admin.js"></script>
	<title>AdminSys</title>
</head>
<body>
	<%- include header.html%>
	<div class="panel panel-default" id="userFeedback">
		<div class="panel-heading">
			<h2 class="panel-title">用户反馈信息</h2>
		</div>
		<div class="panel-body">
			<div class="list-group">
				<li href="#" class="list-group-item active">
					<span class="list-group-item-heading">用户：XXX</span>
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<button type="button" data-toggle="modal" data-target="#replyModal1">回复</button>
					<p class="list-group-item-text"><b>反馈内容：</b>Lorem ipsum dolor sit amet, consectetur adipiscing elit
					</p>
					<!-- Modal -->
					<div class="modal fade" id="replyModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
						 aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
											aria-hidden="true">&times;</button>
									<h4 class="modal-title" id="myModalLabel1">回复用户反馈</h4>
								</div>
								<div class="modal-body">
									<form class="input-group form-control">
										<div class="input-group">
											<span class="input-group-addon">用户名称</span>
											<span class="form-control">XXX</span>
										</div>
										<div class="input-group">
											<span class="input-group-addon">回复内容</span>
											<textarea class="form-control" name="回复内容" id="" cols="30"
													  rows="10"></textarea>
											<!--input type="text" class="form-control" placeholder="回复内容"> -->
										</div>
										<div class="input-group">
											<span class="input-group-addon">联系方式</span>
											<input type="text" class="form-control" placeholder="联系方式">
										</div>
										<button type="submit" class="btn btn-default">回复</button>
										<button type="reset" class="btn btn-primary">重置</button>
									</form>
								</div>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>
					<!-- /.modal -->
				</li>
				<li href="#" class="list-group-item active">
					<span class="list-group-item-heading">用户：XXX</span>
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<button type="button" data-toggle="modal" data-target="#replyModal">回复</button>
					<p class="list-group-item-text"><b>反馈内容：</b>Lorem ipsum dolor sit amet, consectetur adipiscing elit
					</p>
					<!-- Modal -->
					<div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
						 aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
											aria-hidden="true">&times;</button>
									<h4 class="modal-title" id="myModalLabel">回复用户反馈</h4>
								</div>
								<div class="modal-body">
									<form class="input-group form-control">
										<div class="input-group">
											<span class="input-group-addon">用户名称</span>
											<span class="form-control">XXX</span>
										</div>
										<div class="input-group">
											<span class="input-group-addon">回复内容</span>
											<textarea class="form-control" name="回复内容" id="" cols="30"
													  rows="10"></textarea>
											<!--input type="text" class="form-control" placeholder="回复内容"> -->
										</div>
										<div class="input-group">
											<span class="input-group-addon">联系方式</span>
											<input type="text" class="form-control" placeholder="联系方式">
										</div>
										<button type="submit" class="btn btn-default">回复</button>
										<button type="reset" class="btn btn-primary">重置</button>
									</form>
								</div>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>
					<!-- /.modal -->
				</li>
			</div>
			<nav class="col-md-offset-5">
				<ul class="pagination">
					<li><a href="#">&laquo;</a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">&raquo;</a></li>
				</ul>
			</nav>
		</div>
	</div>
</body>
</html>