<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>

    <link type="text/css" rel="stylesheet" href="/javascripts/css/jquery.mmenu.all.css"/>
    <link type="text/css" rel="stylesheet" href="/javascripts/css/style.css"/>
    <script type="text/javascript" src="/javascripts/js/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="/javascripts/js/o-script.js"></script>
</head>

<body class="o-page">
<div id="page">
    <%- partial('mLoggedIn', {
    title:'医呼百应 个人信息',
    username:user.real_name
    }) %>

    <div id="personal_information" align="center">
        <div>
            <h1 class="subheader">个人信息</h1>
            <hr class="hr3" style="background-color:#587eac;"/>
        </div>
        <table align="center" border="0" frame="void" cellspacing="5" style="margin-top:20px;" >
            <tr>
                <td>身份证号</td>
                <td><%= user.social_number%></td>
            </tr>
            <tr>
                <td>姓名</td>
                <td><%= user.real_name%></td>
            </tr>
            <tr>
                <td>密码</td>
                <td>＊＊＊＊＊＊</td>
                <td><a href="/mobile/person/info/alterPass">
                    <img src="/images/pencil.png" style="width:30px; height:30px;">
                </a></td>
            </tr>
            <tr>
                <td>手机号</td>
                <td><%= user.phone_number%></td>
                <td><a href="/mobile/person/info/alterPhone">
                    <img src="/images/pencil.png" style="width:30px; height:30px;">
                </a></td>
            </tr>
            <tr>
                <td>现居城市</td>
                <% if (typeof(user.address) !== 'undefined' && user.address) { %>

                <td><%= user.address%></td>
                <% } else { %>
                <td>wu</td>
                <% } %>
                <td><a href="/mobile/person/info/alterAddress">
                    <img src="/images/pencil.png" style="width:30px; height:30px;">
                </a></td>
            </tr>
            <tr>
                <td>邮箱</td>
                <% if (typeof(user.email) !== 'undefined' && user.email) { %>

                <td><%= user.email%></td>
                <% } else { %>
                <td>wu</td>
                <% } %>
                <td><a href="/mobile/person/info/alterEmail">
                    <img src="/images/pencil.png" style="width:30px; height:30px;">
                </a></td>
            </tr>

            <tr>
                <td>信用等级</td>
                <td><%= user.credit_level%></td>
            </tr>

            <tr>
                <td>注册时间</td>
                <td><%= register_time%></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
