<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>

    <link type="text/css" rel="stylesheet" href="/javascripts/css/jquery.mmenu.all.css"/>
    <link type="text/css" rel="stylesheet" href="/javascripts/css/style.css"/>
    <script type="text/javascript" src="/javascripts/js/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="/javascripts/js/o-script.js"></script>
</head>

<body class="o-page">
<div id="page">
    <%- partial('mLoggedIn', {
    title:'医呼百应 问题反馈',
    username:user.real_name
    }) %>
<div align="center" style=" margin-top:100px; padding:10px;">
    <form action = "/mobile/person/submitFeedback" method="post">

        <label>*输入您的问题<span class="required"></span></label>
        <textarea id="ContactMessage" name="content" placeholder="Message"></textarea>
        <button type="submit" style="background-color:#587eac; width:70px; height:40px; color:#FFFFFF">提问</button>


    </form>

</div>
</div>
</body>
</html>
