<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>订单管理</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/foundation.css">
    <link type="text/css" rel="stylesheet" href="/javascripts/css/jquery.mmenu.all.css"/>
    <link type="text/css" rel="stylesheet" href="/javascripts/css/style.css"/>
    
    <script type="text/javascript" src="/javascripts/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="/javascripts/js/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/o-script.js"></script>
</head>
<body class="o-page">
<div id="page">
    <div id="header">
        <a href="#menu"></a>
        <span> 医呼百应 订单管理 </span>
        <a class="backBtn" href="javascript:history.back();"></a>
    </div>

    <nav id="menu">
        <ul>
            <li  class="Selected">
                <a href="/mobile/login">
                    <i class="i-home i-small"></i>登录
                </a>
            </li>
            <li >
                <a href="/mobile/register">
                    <i class="i-home i-small"></i>注册
                </a>
            </li>
            <li>
                <a href="/mobile">
                    <i class="i-home i-small"></i>预约主页
                </a>
            </li>
            <li>
                <a href="mobile/person/info">
                    <i class="i-about i-small"></i>个人信息
                </a>
            </li>
            <li>
                <a href="/mobile/person/myOrder">
                    <i class="i-blog i-small"></i>订单管理
                </a>
            </li>
            <li>
                <a href="/mobile/person/myFavourite">
                    <i class="i-gallery i-small"></i>收藏夹
                </a>
            </li>
            <li>
                <a href="/mobile/person/feedback">
                    <i class="i-shortcodes i-small"></i>问题反馈
                </a>
            </li>
        </ul>
    </nav>
    <div id="booking" align="center">
        <div align="center">
            <h1 class="subheader">订单</h1>
            <hr class="hr3"/>
        </div>
        <% for(var i=0; i<orders.length; i++) {%>
        <div>
            <table frame="box" cellspacing="10" align="center" style="margin-top:20px;">
                <col width="25%">
                <col width="75%">
                <tr>
                    <td>订单号</td>
                    <td><%= orders[i].order_number %></td>
                </tr>
                <tr>
                    <td>医院</td>
                    <td><%= orders[i].hospital_name %></td>
                </tr>
                <tr>
                    <td>科室</td>
                    <td><%= orders[i].dept_name %></td>
                </tr>
                <tr>
                    <td>医生</td>
                    <td><%= orders[i].doctor_name %></td>
                </tr>
                <tr>
                    <td>状态</td>
                    <td>
                        <% if (order_if_finished == true ) %>
                        已完成
                        <% } else if (order_if_pay == true ) {%>
                        已支付
                        <% } else {%>
                        未支付
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <td>评价</td>
                    <td>
                        <% var comment = orders[i].comment %>
                        <% if (typeof(comment) !== 'undefined' && comment) { %>
                        <%= orders[i].comment %>
                        <% } else {%>
                        <a href="/mobile/person/info/alterComment"><!-- mValue.html  -->
                            <img src="/images/pencil.png" style="width:30px; height:30px;">
                        </a>
                        <% } %>
                    </td>
                </tr>

            </table>
            <a href="/mobile/person/info/pay" type="button" style="background-color:#587eac; width:70px; height:40px; color:#FFFFFF">支付</a>
            <a href="/mobile/person/info/dropOrder" type="button" style="background-color:#587eac; width:70px; height:40px;color:#FFFFFF">取消订单</a>
        </div>
        <% } %>
    </div>
</div>
</body>
</html>
