<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <title>科室列表</title>

    <link type="text/css" rel="stylesheet" href="../../public/javascripts/css/flexslider.css"/>
    <link type="text/css" rel="stylesheet" href="../../public/javascripts/css/jquery.mmenu.all.css"/>
    <link type="text/css" rel="stylesheet" href="../../public/javascripts/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../../public/stylesheets/mStyle.css">
    <link rel="stylesheet" type="text/css" href="../../public/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../public/stylesheets/bootstrap-theme.css">
    <script type="text/javascript" src="../../public/javascripts/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../public/javascripts/js/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="../../public/javascripts/js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="../../public/javascripts/js/o-script.js"></script>
    <script type="text/javascript" src="../../public/javascripts/dropdown.js"></script>
    <script type="text/javascript" src="../../public/javascripts/bootstrap.js"></script>

</head>
<body class="o-page">
    <div id="page">
        <div id="header">
            <a href="#menu"></a>
            <span> 选择城市 </span>
            <a class="backBtn" href="javascript:history.back();"></a>
        </div>
        <div class="panel">
            <div id="currentCity" class="cityBlock panel">
                当前定位城市：<span style="color:orange;">北京</span>
            </div>
            <div class="panel">
                <h5>热门城市：</h5>
                <table class="cityTable">
                    <tr>
                        <td><a href="#">北京</a></td>
                        <td><a href="#">天津</a></td>
                        <td><a href="#">上海</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">广州</a></td>
                        <td><a href="#">深圳</a></td>
                        <td><a href="#">西安</a></td>
                    </tr>
                </table>
            </div>
            <div class="panel">
                <h5>更多城市：</h5>
                <table class="cityTable">
                    <tr>
                        <td><a href="#">北京</a></td>
                        <td><a href="#">天津</a></td>
                        <td><a href="#">上海</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">广州</a></td>
                        <td><a href="#">深圳</a></td>
                        <td><a href="#">西安</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">淮安</a></td>
                        <td><a href="#">徐州</a></td>
                        <td><a href="#">无锡</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">长沙</a></td>
                        <td><a href="#">太原</a></td>
                        <td><a href="#">青岛</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">武汉</a></td>
                        <td><a href="#"></a></td>
                        <td><a href="#"></a></td>
                    </tr>
                </table>
            </div>
        </div>
            
        <nav id="menu">
        <ul>
            <li class="Selected">
                <a href="mIndex.html">
                    <i class="i-home i-small"></i>预约主页
                </a>
            </li>
            <li>
                <a href="mLogin.html">
                    <i class="i-comments i-small"></i>切换城市
                </a>
            </li>
            <li>
                <a href="mPersonalCenter.html">
                    <i class="i-about i-small"></i>个人信息
                </a>
            </li>
            <li>
                <a href="blog.html">
                    <i class="i-blog i-small"></i>订单管理
                </a>
            </li>
            <li>
                <a href="gallery.html">
                    <i class="i-gallery i-small"></i>收藏夹
                </a>
            </li>
            <li>
                <a href="shortcodes.html">
                    <i class="i-shortcodes i-small"></i>问题反馈
                </a>
            </li>
            <li>
                <a href="mLogin.html">
                    <i class="i-contact i-small"></i>账户登陆
                </a>
            </li>
            
        </ul>
    </nav>  
    </div>
</body>
</html> 
