<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <title>更改城市</title>

    <link type="text/css" rel="stylesheet" href="/javascripts/css/flexslider.css"/>
    <link type="text/css" rel="stylesheet" href="/javascripts/css/jquery.mmenu.all.css"/>
    <link type="text/css" rel="stylesheet" href="/javascripts/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/mStyle.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-theme.css">
    <script type="text/javascript" src="/javascripts/js/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="/javascripts/js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="/javascripts/js/o-script.js"></script>
    <script type="text/javascript" src="/javascripts/dropdown.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>

</head>
<body class="o-page">
    <div id="page">
        <%- include mNotLoggedIn.html %>
        <div class="panel">
            <div id="currentCity" class="cityBlock panel">
                当前定位城市：<span style="color:orange;"><%= currCity %></span>
            </div>
            <span>选择城市</span>
            <div name="city" class="large-12 columns" align="center">

                <select id="new_city" style="font-size:13px; height:35px; font-color:#C0C0C0;">
                    <option value="0" selected>选择城市</option>
                    <option value="北京">北京</option>
                    <option value="天津">天津</option>
                    <option value="上海">上海</option>
                    <option value="广州">广州</option>
                    <option value="淮安">淮安</option>
                    <option value="徐州">徐州</option>
                    <option value="无锡">无锡</option>
                    <option value="太原">太原</option>
                    <option value="长沙">长沙</option>
                    <option value="青岛">青岛</option>
                    <option value="西安">西安</option>
                    <option value="武汉">武汉</option>
                </select>
                <button onclick="changeCity()">确定</button>
            </div>
        </div>
    </div>
<script>
    function changeCity(){
        var obj = document.getElementById('new_city');
        var city = obj.value;
        delCookie('city');
        setCookie('city',city);
        window.href = history.back();
    }
    function setCookie(name,value)
    {
        var Days = 30;
        var exp = new Date();
        exp.setTime(exp.getTime() + Days*24*60*60*1000);
        document.cookie = name + "="+ value + ";expires=" + exp.toGMTString();
    }
    function delCookie(name)
    {
        var exp = new Date();
        exp.setTime(exp.getTime() - 1);
        var cval=getCookie(name);
        if(cval!=null) document.cookie= name + "="+cval+";expires="+exp.toGMTString();
    }
    function getCookie(name)
    {
        var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");
        if(arr=document.cookie.match(reg)) return unescape(arr[2]);
        else return null;
    }
</script>
</body>
</html> 
