<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>城市更改</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/photoswipe/photoswipe.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css">
    <link type="text/css" rel="stylesheet" href="/javascripts/css/flexslider.css"/>
    <link type="text/css" rel="stylesheet" href="/javascripts/css/jquery.mmenu.all.css"/>
    <link type="text/css" rel="stylesheet" href="/javascripts/css/style.css"/>
    <link type="text/css" rel="stylesheet" href="/javascripts/css/mStyle.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/foundation.css"/>
    <script type="text/javascript" src="/javascripts/photoswipe/klass.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.mobile-1.0rc2.min.js"></script>
    <script type="text/javascript"
            src="/javascripts/photoswipe/code.photoswipe.jquery-3.0.4.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.flexslider.js"></script>
    <script type="text/javascript" src="/javascripts/js/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="/javascripts/js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="/javascripts/js/o-script.js"></script>
    <script src="js/vendor/modernizr.js"></script>
</head>

<body class="o-page">
<div id="page">
    <%- partial('mLoggedIn', {
    title:'医呼百应 更改城市',
    username:user.real_name
    }) %>

    <form action="/mobile/person/info/alterAddress" method="post" >
        <div  align="center" style="margin-top:80px;">
            <div  align="center" style="padding:20px;">

                <select name="newAddress">
                    <option value="0" selected>现居城市</option>
                    <option value="北京">北京</option>
                    <option value="天津">天津</option>
                    <option value="上海">上海</option>
                    <option value="广州">广州</option>
                    <option value="淮安">淮安</option>
                    <option value="徐州">徐州</option>
                    <option value="无锡">无锡</option>
                    <option value="太原">太原</option>
                    <option value="长沙">长沙</option>
                    <option value="青岛">青岛</option>
                    <option value="西安">西安</option>
                    <option value="武汉">武汉</option>
                </select>

            </div>

            <div align="center" style="margin-top:40px;">
                <button type="submit" name="post" value="true" style="background-color:#587eac; width:100px; border-radius:5px; font-size:12px; height: 38px;line-height: 5px;">确定
                </button>
            </div>
        </div>
    </form>

    <script>
        $(document).foundation();
    </script>
</div>
</body>
</html>