<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
		<title>日期选择</title>

		<link type="text/css" rel="stylesheet" href="css/jquery.mmenu.all.css" />
		<link type="text/css" rel="stylesheet" href="css/jquery.mobile-1.0rc2.min.css" >
		<link type="text/css" rel="stylesheet" href="css/style.css" />
		<link type="text/css" rel="stylesheet" href="css/photoswipe/photoswipe.css" />

		<link rel="stylesheet" type="text/css" href="css/common.css">
		<link rel="stylesheet" type="text/css" href="css/DatePicker.css">
			
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/photoswipe/klass.min.js"></script>
		<script type="text/javascript" src="js/jquery.mmenu.min.all.js"></script>
		<script type="text/javascript" src="js/jquery.mobile-1.0rc2.min.js"></script>
		<script type="text/javascript" src="js/photoswipe/code.photoswipe.jquery-3.0.4.min.js"></script>
		<script type="text/javascript" src="js/o-script.js"></script>
	</head>
	<body class="o-page">
		<div id="page">
			<div id="userInfo">
				<div class="small-4 columns">
					<span id="userName" class="userInfoSytle">Ma Bingying</span>
				</div>
				<!--<div class="small-3 columns icon">o</div>-->
				<div class="small-3 small-offset-3 columns">
					<span id="SelfCentre" class="userInfoSytle"><a href="#">个人中心</a></span>
				</div>
				<div class="small-2 columns">
					<span id="Logout" class="userInfoSytle"><a href="#">登出</a></span>
				</div>
			</div>

			<div class="content">
				<div id="Gallery">
					<div id="DatePickerTitle">
						<h1 class="subheader">时间选择</h1>
						<hr class="hr3" />
					</div>
					
					<div class="gallery-row">
						<div id="PGalleryTwoC" class="row">
							<div class="mobile-two">
								<div class="gallery-item dateItem">
									<a href="#">
										<div class="dateWindow canBeOrdered">
											<span>2014-11-29</span>
											<br/>
											<span>星期六</span>
											<br/>
											<br/>
											<span>可预约</span>
											<br/>
										</div>
									</a>
								</div>
								<div class="gallery-item">
									<a href="#">
										<div class="dateWindow cannotBeOrdered">
											<span>2014-11-30</span>
											<span>星期日</span>
											<span>不可预约</span>
										</div>
									</a>
								</div>
								<div class="gallery-item">
									<a href="#">
										<div class="dateWindow canBeOrdered">
											<span>2014-12-01</span>
											<span>星期一</span>
											<span>可预约</span>
										</div>
									</a>
								</div>
							</div>
							<div class="mobile-two">
								<div class="gallery-item">
									<a href="#">
										<div class="dateWindow canBeOrdered">
											<span>2014-12-02</span>
											<span>星期二</span>
											<span>可预约</span>
										</div>
									</a>
								</div>
								<div class="gallery-item">
									<a href="#">
										<div class="dateWindow cannotBeOrdered">
											<span>2014-12-03</span>
											<span>星期三</span>
											<span>不可预约</span>
										</div>
									</a>
								</div>
								<div class="gallery-item">
									<a href="#">
										<div class="dateWindow canBeOrdered">
											<span>2014-12-01</span>
											<span>星期一</span>
											<span>可预约</span>
										</div>
									</a>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>
	</body>
</html> 