<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <title>选择看病日期</title>
    <!-- -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/DatePicker.css">

    <link type="text/css" rel="stylesheet" href="javascripts/css/flexslider.css"/>
    <link type="text/css" rel="stylesheet" href="/javascripts/css/jquery.mmenu.all.css"/>
    <link type="text/css" rel="stylesheet" href="/javascripts/css/style.css"/>

    <script type="text/javascript" src="/javascripts/js/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="/javascripts/js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="/javascripts/js/o-script.js"></script>
<body class="o-page">
<div id="page">

    <%- include mLoggedIn.html %>

    <div class="content">
        <div id="Gallery">
            <div class="gallery-row">
                <div class="mobile-two">
                    <% for(var i = 0; i < time.length; i++) { %>
                    <div class="gallery-item big-item">
                        <a href="/mobile/book/confirmbook?hospitalid=<%= hospitalid%>&departmentid=<%= departmentid %>&doctorid=<%= doctorid %>&date=<%= time[i].date %>&time=<%= time[i].time %>">
                            <div class="dateWindow canBeOrdered">
                                <span><%= time[i].date %></span>
                                <br/>
                                <span><%= time[i].weekOfDay %></span>
                                <br/>
                                <span><%= time[i].time %></span>
                                <br/>
                                <span><%= time[i].source %></span>
                            </div>
                        </a>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html> 