<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <title>医院详情</title>

    <link type="text/css" rel="stylesheet" href="/javascripts/css/flexslider.css"/>
    <link type="text/css" rel="stylesheet" href="/javascripts/css/jquery.mmenu.all.css"/>
    <link rel="stylesheet" type="text/css" href="../../public/stylesheets/Departments.css">
    <link type="text/css" rel="stylesheet" href="/javascripts/css/style.css"/>


    <script type="text/javascript" src="/javascripts/js/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="/javascripts/js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="/javascripts/js/o-script.js"></script>
    
</head>

<body class="o-page p-blog">
<div id="page">

    <% if(!username) { %>
    <%- include mNotLoggedIn.html %>
    <% } else {%>
    <%- include mLoggedIn.html %>
    <% } %>

    <div id="content">
        <article>
            <div class="bigPic">
                <img src="<%= hospital.imgsrc %>"/>
            </div>
            <div class="hospitalName">
                <h2><span id="id_hospitalName" name="hospitalName"><%= hospital.hospital_name %></span></h2>
            </div>

            <div class="hospitalInfo">
                <table>
                    <col width="25%">
                    <col width="75%">
                    <tr>
                        <td><strong>地址：</strong></td>
                        <td><span id="id_hospitalAddress"
                                  name="hospitalAddress"><%= hospital.hospital_location %></span></td>
                    </tr>
                    <tr>
                        <td><strong>电话：</strong></td>
                        <td><span id="id_hospitalTel" name="hospitalTel"><%= hospital.hospital_tel %></span></td>
                    </tr>
                    <tr>
                        <td><strong>预约周期:</strong></td>
                        <td><span>7天</span></td>
                    </tr>
                    <tr>
                        <td><strong>放号时间：</strong></td>
                        <td><span>9:00</span></td>
                    </tr>
                    <tr>
                        <td><strong>停挂时间：</strong></td>
                        <td><span>17:00</span></td>
                    </tr>
                    <tr>
                        <td><strong>成功预约数</strong></td>
                        <td><span><%= hospital.hospital_order_count %></span></td>
                    </tr>

                </table>
            </div>
        </article>

        <div>
            <table style="width:100%;">
                <col width="50"/>
                <col width="50"/>
                <tr>
                    <td colspan="2"><input name="Date" type="radio" value="" checked onclick="changeDate(this)"/>不选择时间</td>
                </tr>
                <tr>
                    <td><input name="Date" type="radio" value="<%= hospital.dateList[0]%>" onclick="changeDate(this)"/><%= hospital.dateList[0]%></td>
                    <td><input name="Date" type="radio" value="<%= hospital.dateList[1]%>" onclick="changeDate(this)"/><%= hospital.dateList[1]%></td>
                </tr>
                <tr>
                    <td><input name="Date" type="radio" value="<%= hospital.dateList[2]%>" onclick="changeDate(this)"/><%= hospital.dateList[2]%></td>
                    <td><input name="Date" type="radio" value="<%= hospital.dateList[3]%>" onclick="changeDate(this)"/><%= hospital.dateList[3]%></td>
                <tr>
                    <td><input name="Date" type="radio" value="<%= hospital.dateList[4]%>" onclick="changeDate(this)"/><%= hospital.dateList[4]%></td>
                    <td><input name="Date" type="radio" value="<%= hospital.dateList[5]%>" onclick="changeDate(this)"/><%= hospital.dateList[5]%></td>
                </tr>
                <tr>
                    <td><input name="Date" type="radio" value="<%= hospital.dateList[6]%>" onclick="changeDate(this)"/><%= hospital.dateList[6]%></td>
                    <td><input name="Date" type="radio" value="<%= hospital.dateList[7]%>" onclick="changeDate(this)"/><%= hospital.dateList[7]%></td>
                </tr>

                <tr>
                    <td><input name="Date" type="radio" value="<%= hospital.dateList[8]%>" onclick="changeDate(this)"/><%= hospital.dateList[8]%></td>
                    <td><input name="Date" type="radio" value="<%= hospital.dateList[9]%>" onclick="changeDate(this)"/><%= hospital.dateList[9]%></td>
                </tr>

                <tr>
                    <td><input name="Date" type="radio" value="<%= hospital.dateList[10]%>" onclick="changeDate(this)"/><%= hospital.dateList[10]%></td>
                    <td><input name="Date" type="radio" value="<%= hospital.dateList[11]%>" onclick="changeDate(this)"/><%= hospital.dateList[11]%></td>
                </tr>
                <tr>
                     <td><input name="Date" type="radio" value="<%= hospital.dateList[12]%>" onclick="changeDate(this)"/><%= hospital.dateList[12]%></td>
                     <td><input name="Date" type="radio" value="<%= hospital.dateList[13]%>" onclick="changeDate(this)"/><%= hospital.dateList[13]%></td>
                </tr>
            </table>
        </div>

        <div class="o-team">
            <div class="o-team-person">
                <% for(var i = 0; i < hospital.departments.length; i++) { %>
                <h3><%= hospital.departments[i].name %></h3>
                <table>
                    <tr>
                        <% for(var j = 0; j< hospital.departments[i].subDepartments.length; j++) { %>
                        <td>
                            <a data-dept="<%= hospital.departments[i].subDepartments[j] %>" data-hospitalid="<%= hospital._id%>" onclick="showDoctors(this)"></a>
                                <%=hospital.middleDepartments[i].subDepartments[j] %></a></td>
                        <% if( (j+1) % 3 == 0 || j == hospital.departments[i].subDepartments.length - 1)
                        { %>
                    </tr>
                    <% if( j < hospital.departments[i].subDepartments.length - 1) { %>
                    <tr>
                        <% } %>
                        <% } %>
                        <% } %>
                </table>
                <% } %>
            </div>
        </div>
    </div>
    <!-- Menu navigation -->
</div>
<script>
    var date = 'no';
    function changeDate(radioButton){
        date = radioButton.value();
    }
    function getDate(){
        return date;
    }
    function showDoctors(a){
        var dept = a.getAttribute('data-dept');
        var hospitalId = a.getAttribute('data-hospitalid');
        var href = '/mobile/book/doctors?departmentid=' + dept + '&hospitalid=' + hospitalId + '&date=' + date;
        $.get(href);
    }
</script>
</body>
</html> 