<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <title>医院详情</title>

    <link type="text/css" rel="stylesheet" href="/javascripts/css/flexslider.css"/>
    <link type="text/css" rel="stylesheet" href="/javascripts/css/jquery.mmenu.all.css"/>
    <link rel="stylesheet" type="text/css" href="../../public/stylesheets/Departments.css">
    <link type="text/css" rel="stylesheet" href="/javascripts/css/style.css"/>


    <script type="text/javascript" src="/javascripts/js/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="/javascripts/js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="/javascripts/js/o-script.js"></script>
    
</head>

<body class="o-page p-blog">
<div id="page">

    <% if(!username) { %>
    <%- include mNotLoggedIn.html %>
    <% } else {%>
    <%- include mLoggedIn.html %>
    <% } %>

    <div id="content">
        <article>
            <div class="bigPic">
                <img src="<%= hospital.imgsrc %>"/>
            </div>
            <div class="hospitalName">
                <h2><span id="id_hospitalName" name="hospitalName"><%= hospital.hospital_name %></span></h2>
            </div>

            <div class="hospitalInfo">
                <table>
                    <col width="25%">
                    <col width="75%">
                    <tr>
                        <td><strong>地址：</strong></td>
                        <td><span id="id_hospitalAddress"
                                  name="hospitalAddress"><%= hospital.hospital_location %></span></td>
                    </tr>
                    <tr>
                        <td><strong>电话：</strong></td>
                        <td><span id="id_hospitalTel" name="hospitalTel"><%= hospital.hospital_tel %></span></td>
                    </tr>
                    <tr>
                        <td><strong>预约周期:</strong></td>
                        <td><span>7天</span></td>
                    </tr>
                    <tr>
                        <td><strong>放号时间：</strong></td>
                        <td><span>9:00</span></td>
                    </tr>
                    <tr>
                        <td><strong>停挂时间：</strong></td>
                        <td><span>17:00</span></td>
                    </tr>
                    <tr>
                        <td><strong>成功预约数</strong></td>
                        <td><span><%= hospital.hospital_order_count %></span></td>
                    </tr>

                </table>
            </div>
        </article>

        <div>
            <table style="width:100%;">
                <col width="50"/>
                <col width="50"/>
                <tr>
                    <td colspan="2"><input name="Date" type="radio" value="" checked />不选择时间</td>
                </tr>
                <tr>
                    <td><input name="Date" type="radio" value="" />12月19日上午</td>
                    <td><input name="Date" type="radio" value="" />12月19日下午</td>
                </tr>
                <tr>
                    <td><input name="Date" type="radio" value="" />12月20日上午</td>
                    <td><input name="Date" type="radio" value="" />12月20日下午</td>
                <tr>
                    <td><input name="Date" type="radio" value="" />12月21日上午</td>
                    <td><input name="Date" type="radio" value="" />12月21日下午</td>
                </tr>
                <tr>
                    <td><input name="Date" type="radio" value="" />12月22日上午</td>
                    <td><input name="Date" type="radio" value="" />12月22日下午</td>
                </tr>

                <tr>
                    <td><input name="Date" type="radio" value="" />12月23日上午</td>
                    <td><input name="Date" type="radio" value="" />12月23日下午</td>
                </tr>

                <tr>
                    <td><input name="Date" type="radio" value="" />12月24日上午</td>
                    <td><input name="Date" type="radio" value="" />12月24日下午</td>
                </tr>
                <tr>
                     <td><input name="Date" type="radio" value="" />12月25日上午</td>
                     <td><input name="Date" type="radio" value="" />12月25日下午</td>
                </tr>
                <tr>
                    <td><input name="Date" type="radio" value="" />12月26日上午</td>
                    <td><input name="Date" type="radio" value="" />12月26日下午</td>
                </tr>
            </table>
        </div>

        <div class="o-team">
            <div class="o-team-person">
                <% for(var i = 0; i < hospital.departments.length; i++) { %>
                <h3><%= hospital.departments[i].name %></h3>
                <table>
                    <tr>
                        <% for(var j = 0; j< hospital.departments[i].subepartments.length; j++) { %>
                        <td>
                            <a href="/mobile/book/doctors?departmentid=<%= hospital.departments[i].subDepartments[j]._id %>&hospitalid=<%= hospital._id%>"><%=
                                hospital.middleDepartments[i].subDepartments[j].name %></a></td>
                        <% if( (j+1) % 3 == 0 || j == hospital.departments[i].subDepartments.length - 1)
                        { %>
                    </tr>
                    <% if( j < hospital.departments[i].subDepartments.length - 1) { %>
                    <tr>
                        <% } %>
                        <% } %>
                        <% } %>
                </table>
                <% } %>
            </div>
        </div>
    </div>
    <!-- Menu navigation -->
</div>
</body>
</html> 