<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
		<title>医院科室</title>

		<link type="text/css" rel="stylesheet" href="../../public/javascripts/jquery.mmenu.all.css" />
		<link type="text/css" rel="stylesheet" href="../../public/stylesheets/style.css" />
		<link rel="stylesheet" href="../../public/javascripts/foundation/foundation.css">

		<link rel="stylesheet" type="text/css" href="../../public/stylesheets/common.css">
		<link rel="stylesheet" type="text/css" href="../../public/stylesheets/Departments.css">
			
		<script type="text/javascript" src="../../public/javascripts/jquery.min.js"></script>
		<script type="text/javascript" src="../../public/javascripts/jquery.mmenu.min.all.js"></script>
		<script type="text/javascript" src="../../public/javascripts/jquery.easy-pie-chart.js"></script>
		<script type="text/javascript" src="../../public/javascripts/o-script.js"></script>
	</head>

	<body class="o-page p-blog">
		<div id="page">
			<%- include mUserHeader.html %>

			<div id="content">
				<article>
					<div class="bigPic">
						<img src="images/hospital2.jpg"/>
					</div>
					<div class="hospitalName">
						<h2>北京市大兴区精神病医院</h2>
					</div>
					
					<div class="hospitalInfo">
						<table>
						<col width="25%"><col width="75%">
							<tr>
								<td><strong>地址：</strong></td>
								<td><span>北京市大兴区黄村镇黄良路口北侧</span></td>
							</tr>
							<tr>
								<td><strong>电话：</strong></td>
								<td><span>010-84265830</span></td>
							</tr>
							<tr>
								<td><strong>预约周期:</strong></td>
								<td><span>9天</span></td>
							</tr>
							<tr>
								<td><strong>放号时间：</strong></td>
								<td><span>16:00</span></td>
							</tr>
							<tr>
								<td><strong>停挂时间：</strong></td>
								<td><span>下午15:00停止次日预约挂号 (周五15:00后停挂至下周一)</span></td>
							</tr>
						</table>
					</div>
				</article>

				<div class="o-team">
					<div class="o-team-person">
						<h3>神经科</h3>
						<table>
							<tr>
								<td><a href="#">神经科</a></td>
								<td><a href="#">心理咨询</a></td>
								<td></td>
							</tr>
						</table>
						<h3>内科</h3>
						<table>
							<tr>
								<td><a href="#">特需普通内科门诊(西院)</a></td>
								<td><a href="#">肿瘤内科门诊内分泌科门诊(西院)</a></td>
								<td><a href="#">心内科门诊(西院)</a></td>
							</tr>
							<tr>
								<td><a href="#">神经内科癫痫门诊</a></td>
								<td><a href="#">普通内科门诊</a></td>
								<td><a href="#">脑血管病专科门诊</a></td>
							</tr>
							<tr>
								<td><a href="#">头疼专科门诊</a></td>
								<td><a href="#">特需肿瘤内科门诊</a></td>
								<td><a href="#">特需神经科门诊</a></td>
							</tr>
							<tr>
								<td><a href="#">特需内分泌科门诊</a></td>
								<td><a href="#">肾内科门诊(西院)</a></td>
								<td><a href="#">血友病门诊(西院)</a></td>
							</tr>
							<tr>
								<td><a href="#">普通内科门诊(西院)</a></td>
								<td><a href="#">特需肿瘤内科门诊(西院)</a></td>
								<td></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
</html> 