<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>error page</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/foundation.css">
    <link type="text/css" rel="stylesheet" href="javascripts/css/jquery.mmenu.all.css"/>
    <link type="text/css" rel="stylesheet" href="/javascripts/css/style.css"/>
    
    <script type="text/javascript" src="/javascripts/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="/javascripts/js/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/o-script.js"></script>
</head>

<body class="o-page">
<div id="page">
    <%- include mLoggedIn.html %>
<div class="notifications error" style="margin-top:50px;">
    <%= errormessage %>
    <i></i>
</div>
</div>
</body>
</html>
