<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>收藏夹</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link type="text/css" rel="stylesheet" href="/javascripts/css/jquery.mmenu.all.css"/>
    <link type="text/css" rel="stylesheet" href="/javascripts/css/style.css"/>
    <script type="text/javascript" src="/javascripts/js/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="/javascripts/js/o-script.js"></script>
</head>

<body class="o-page">
<div id="page">
    <%- partial('mLoggedIn', {
    title:'医呼百应 收藏',
    username:user.real_name
    }) %>

    <div align="center"; style="background-color:#587eac;">
        <hr>
        <span style="font-size:15px;">收藏的医院</span>
        <hr>
    </div>
    <div class="article-comments">
        <ul >
            <% for(var i=0; i<user.favourite_hospital.length; i++) {%>
            <li style="margin-left:10px;" >
                <img  src="<%= user.favourite_hospital[i].hospital_imgsrc %>" style="width:60px;height:60px;" />
                <p class="c-a-name"><strong>医院名称<%= user.favourite_hospital[i].hospital_name %></strong></p>
                <p class="comment-date">电话：<%= user.favourite_hospital[i].hospital_tel %></p>
                <p class="desc">
                <p>地址：<%= user.favourite_hospital[i].hospital_location %></p>
                </p>
            </li>
            <% } %>
        </ul>
        <!--<script src="js/vendor/jquery.js"></script>
        <script src="js/foundation.min.js"></script>
        <script>
            $(document).foundation();
        </script>-->
    </div>

    <div align="center"; style="background-color:#587eac;">
        <hr>
        <span style="font-size:15px;">收藏的医生</span>
        <hr>
    </div>
    <div class="article-comments">
        <ul >
            <% for(var i=0; i<user.favourite_doctor.length; i++) {%>
            <li style="margin-left:10px;" >
                <img  src="<%= user.favourite_doctor[i].doc_imgsrc %>" style="width:60px;height:60px;" />
                <p class="c-a-name"><strong>医生姓名:<%= user.favourite_doctor[i].doc_name %></strong></p>
                <p class="comment-date">擅长项目:<%= user.favourite_doctor[i].doc_goods %></p>
                <p class="desc">
                <p>所属医院：<%= user.favourite_doctor[i].doc_hospital %></p>
                </p>
            </li>
            <% } %>
        </ul>
        <!--<script src="js/vendor/jquery.js"></script>
        <script src="js/foundation.min.js"></script>
        <script>
            $(document).foundation();
        </script>-->
    </div>
</div>
</body>
</html>
