<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
		<title>选择医院</title>

		<link type="text/css" rel="stylesheet" href="../../public/stylesheets/jquery.mmenu.all.css" />
		<link type="text/css" rel="stylesheet" href="../../public/stylesheets/style.css" />
		<link rel="stylesheet" href="../../public/javascripts/foundation/foundation.css">

		<link rel="stylesheet" type="text/css" href="../../public/stylesheets/common.css">
		<link rel="stylesheet" type="text/css" href="../../public/stylesheets/HospitalSelect.css">
		
		<script type="text/javascript" src="../../public/javascripts/jquery.min.js"></script>
		<script type="text/javascript" src="../../public/javascripts/jquery.mmenu.min.all.js"></script>
		<script type="text/javascript" src="../../public/javascripts/jquery.easy-pie-chart.js"></script>
		<script type="text/javascript" src="../../public/javascripts/o-script.js"></script>
	</head>

	<body class="o-page p-blog">
		<div id="page">

			<%- include mUserHeader.html %>

			<div id="content">
				<% for(var i = 0; i < hospitals.length; i++) { %>
				<article>
					<a href="departments/<%= hospital[i]._id %>">
						<div>
							<img class="hospitalPic" src="<%= hospital[i].imgsrc %>">
						</div>
						<h2><%= hospital[i].name %></h2>
						<div class="hospitalInfoDiv a-meta hospitalInfoSytle">
							地址：<%= hospital[i].address %>
						</div>
						<div class="hospitalInfoDiv a-meta hospitalInfoSytle">
							电话：<%= hospital[i].address %>
						</div>
					</a>
				</article>
				<% } %>
				<article>
					<a href="Departments.html">
						<div>
							<img class="hospitalPic" src="images/hospital3.jpg">
						</div>
						<h2>北京协和医院</h2>
						<div class="hospitalInfoDiv a-meta hospitalInfoSytle">
							地址：[东院]北京市东城区帅府园一号;[西院]北京市西城区大木仓胡同41号
						</div>
						<div class="hospitalInfoDiv a-meta hospitalInfoSytle">
							电话：东院咨询台:010-69155564;西院咨询台:010-69158010
						</div>
					</a>
				</article>

				<article>
					<a href="Departments.html">
						<div>
							<img class="hospitalPic" src="images/hospital2.jpg">
						</div>
						<h2>北京市大兴区精神病医院</h2>
						<div class="hospitalInfoDiv a-meta hospitalInfoSytle">
							地址：北京市大兴区黄村镇黄良路口北侧
						</div>
						<div class="hospitalInfoDiv a-meta hospitalInfoSytle">
							电话：010-84265830
						</div>
					</a>
				</article>

				<article>
					<a href="Departments.html">
						<div>
							<img class="hospitalPic" src="images/hospital3.jpg">
						</div>
						<h2>北京协和医院</h2>
						<div class="hospitalInfoDiv a-meta hospitalInfoSytle">
							地址：[东院]北京市东城区帅府园一号;[西院]北京市西城区大木仓胡同41号
						</div>
						<div class="hospitalInfoDiv a-meta hospitalInfoSytle">
							电话：东院咨询台:010-69155564;西院咨询台:010-69158010
						</div>
					</a>
				</article>
			</div>
		</div>
	</body>
</html> 