<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
		<title选择医院</title>

		<link type="text/css" rel="stylesheet" href="css/jquery.mmenu.all.css" />
		<link type="text/css" rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/foundation.css">

		<link rel="stylesheet" type="text/css" href="css/common.css">
		<link rel="stylesheet" type="text/css" href="css/HospitalSelect.css">
		
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery.mmenu.min.all.js"></script>
		<script type="text/javascript" src="js/jquery.easy-pie-chart.js"></script>
		<script type="text/javascript" src="js/o-script.js"></script>
	</head>

	<body class="o-page p-blog">
		<div id="page">
			<div id="userInfo">
				<div class="small-4 columns">
					<span id="userName" class="userInfoSytle">Ma Bingying</span>
				</div>
				<!--<div class="small-3 columns icon">o</div>-->
				<div class="small-3 small-offset-3 columns">
					<span id="SelfCentre" class="userInfoSytle"><a href="#">个人中心</a></span>
				</div>
				<div class="small-2 columns">
					<span id="Logout" class="userInfoSytle"><a href="#">登出</a></span>
				</div>
			</div>

			<div id="content">
				<article>
					<a href="Departments.html">
						<div>
							<img class="hospitalPic" src="images/hospital2.jpg">
						</div>
						<h2>北京市大兴区精神病医院</h2>
						<div class="hospitalInfoDiv a-meta hospitalInfoSytle">
							地址：北京市大兴区黄村镇黄良路口北侧
						</div>
						<div class="hospitalInfoDiv a-meta hospitalInfoSytle">
							电话：010-84265830
						</div>
					</a>
				</article>

				<article>
					<a href="Departments.html">
						<div>
							<img class="hospitalPic" src="images/hospital3.jpg">
						</div>
						<h2>北京协和医院</h2>
						<div class="hospitalInfoDiv a-meta hospitalInfoSytle">
							地址：[东院]北京市东城区帅府园一号;[西院]北京市西城区大木仓胡同41号
						</div>
						<div class="hospitalInfoDiv a-meta hospitalInfoSytle">
							电话：东院咨询台:010-69155564;西院咨询台:010-69158010
						</div>
					</a>
				</article>

				<article>
					<a href="Departments.html">
						<div>
							<img class="hospitalPic" src="images/hospital2.jpg">
						</div>
						<h2>北京市大兴区精神病医院</h2>
						<div class="hospitalInfoDiv a-meta hospitalInfoSytle">
							地址：北京市大兴区黄村镇黄良路口北侧
						</div>
						<div class="hospitalInfoDiv a-meta hospitalInfoSytle">
							电话：010-84265830
						</div>
					</a>
				</article>

				<article>
					<a href="Departments.html">
						<div>
							<img class="hospitalPic" src="images/hospital3.jpg">
						</div>
						<h2>北京协和医院</h2>
						<div class="hospitalInfoDiv a-meta hospitalInfoSytle">
							地址：[东院]北京市东城区帅府园一号;[西院]北京市西城区大木仓胡同41号
						</div>
						<div class="hospitalInfoDiv a-meta hospitalInfoSytle">
							电话：东院咨询台:010-69155564;西院咨询台:010-69158010
						</div>
					</a>
				</article>
			</div>
		</div>
	</body>
</html> 