<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <title>选择医院</title>
    <!--    <link type="text/css" rel="stylesheet" href="../../public/stylesheets/jquery.mmenu.all.css"/>

        <link type="text/css" rel="stylesheet" href="../../public/stylesheets/style.css"/>

        <link type="text/css" rel="stylesheet" href="../../public/javascripts/foundation/foundation.css">

        <link rel="stylesheet" type="text/css" href="../../public/stylesheets/common.css">-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/HospitalSelect.css">

    <link rel="stylesheet" type="text/css" href="/stylesheets/DatePicker.css">
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/dist/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/javascripts/css/flexslider.css"/>
    <link type="text/css" rel="stylesheet" href="/javascripts/css/jquery.mmenu.all.css"/>
    <link type="text/css" rel="stylesheet" href="/javascripts/css/style.css"/>
    <!--<script type="text/javascript" src="../../public/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="../../public/javascripts/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="../../public/javascripts/jquery.easy-pie-chart.js"></script>
    <script type="text/javascript" src="../../public/javascripts/o-script.js"></script>
-->
    <!-- new script -->
    <script type="text/javascript" src="/javascripts/js/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="/javascripts/js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="/javascripts/js/o-script.js"></script>
</head>

<body class="o-page p-blog">
<div id="page">

    <% if(!username) { %>
    <%- include mNotLoggedIn.html %>
    <% } else {%>
    <%- include mLoggedIn.html %>
    <% } %>

    <div id="content">

        <% for(var i = 0, l = hospital.length; i < l; i++) { %>
        <div>
            <article>
                <a href="/mobile/book/departments?hospitalid=<%= hospital[i]._id %>">
                    <div>
                        <img class="hospitalPic" src="<%= hospital[i].hospital_imgsrc %>">
                    </div>
                    <div>
                        <h2> <%= hospital[i].hospital_name %></h2>

                        <div class="hospitalInfoSytle">
                            地址： <%= hospital[i].hospital_location %>
                        </div>
                        <div class="hospitalInfoSytle">
                            电话： <%= hospital[i].hospital_tel %>
                        </div>
                        <div class="hospitalInfoDiv a-meta hospitalInfoSytle">
                            成功预约量： <%= hospital[i].hospital_order_count %>
                        </div>
                    </div>
                </a>
            </article>
        </div>
        <% } %>
        <%- partial('list', {
        pages: pages,
        page: page,
        base: '/mobile/book/hospitals/'
        }) %>
    </div>
</div>
</body>
</html> 