<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>医呼百应挂号网</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link type="text/css" rel="stylesheet" href="/javascripts/css/jquery.mmenu.all.css"/>
    <link type="text/css" rel="stylesheet" href="/javascripts/css/style.css"/>
    <script type="text/javascript" src="/javascripts/js/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="/javascripts/js/o-script.js"></script>



    <!--<script src="js/vendor/modernizr.js"></script>-->

</head>
<body>
<% if(!username) { %>
<%- include mNotLoggedIn.html %>
<% } else {%>
<%- include mLoggedIn.html %>
<% } %>
<!-- <div class="block">
                 <a href="mRegister.html">
             <button type="button"  style="background-color:#587eac;">注册
     </button>
     </a>
      <a href="mLogin.html">
     <button type="button"   style="background-color:#587eac;">登录
     </button>
     </a>
         </div>
         -->

<div class="block">
    <form action="/mobile/searchresult" method="post">
        <input type="text" name="searchText" placeholder="输入医院、科室、医生名称" required="required">
        <button type="submit"  style="background-color:#587eac;border-radius:5px; font-size:12px; width:100px; margin-top:20px;" >搜索
        </button>
    </form>
</div>


<!-- <div class="block">
                 <a href="mRegister.html">
             <button type="button"  style="background-color:#587eac;">注册
     </button>
     </a>
      <a href="mLogin.html">
     <button type="button"   style="background-color:#587eac;">登录
     </button>
     </a>
         </div>
         -->



<div class="block">
    快速预约挂号
</div>

<div class="exploreSiteFullPane">

    <a href="/mobile/book/hospitals" class="explorePane active">

					<span class="i-pane i-blue">
						<i class="i-home"></i>
					</span>
        <h4>选择医院</h4>
    </a>
    <a href="/mobile/book/departmentlist" class="explorePane middle">
					<span class="i-pane i-blue">
						<i class="i-about"></i>
					</span>
        <h4>选择科室</h4>
    </a>
    <a href="/mobile/book/diseases" class="explorePane">
					<span class="i-pane i-blue">
						<i class="i-blog"></i>
					</span>

        <h4>选择疾病</h4>
    </a>

</div>

<div align="center";>
    <hr>
    <span style="font-size:15px;">附近的医院</span>
    <hr>

</div>

<div class="article-comments">



    <ul >
        <a href="/mobile/book/departments?hospitalid=5497c0304e48606e1cb21ec1">
            <li style="margin-left:10px;" >
                <img style="width:60px;height:60px;" src=" /uploads/1419231280079.gif" />
                <p class="c-a-name"><strong>北京同仁医院</strong></p>
                <p class="comment-date">010-58266699</p>
                <p class="desc">
                    北京市东城区东交民巷1号
                </p>
            </li>
        </a>

        <a href="/mobile/book/departments?hospitalid=5497ff0ac66e4e4c45f092c7">
            <li style="margin-left:10px;">
                <img style="width:60px;height:60px;" style="align-content:center;" src=" /uploads/1419247369602.gif" />
                <p class="c-a-name"><strong>中国人民解放军总医院301医院</strong></p>
                <p class="comment-date">010-88196155</p>
                <p class="desc">
                    北京市海淀区复兴路28号
                </p>

            </li>
        </a>

        <a href="/mobile/book/departments?hospitalid=5498007cc66e4e4c45f092cb">
            <li style="margin-left:10px;">
                <img style="width:60px;height:60px;" src=" /uploads/1419247740046.jpg" />
                <p class="c-a-name"><strong>中国人民解放军海军总医院</strong></p>
                <p class="comment-date">010-88999899</p>
                <p class="desc">
                    北京市海淀区阜成路6号
                </p>

            </li>
        </a>

        <a href="/mobile/book/departments?hospitalid=549809bcc66e4e4c45f09317">
            <li style="margin-left:10px;">
                <img  style="width:60px;height:60px;" src=" /uploads/1419250108172.jpg" />
                <p class="c-a-name"><strong>北京大学第一医院</strong></p>
                <p class="comment-date">010-83572211</p>
                <p class="desc">
                    北京市西城区西什库大街八号
                </p>
            </li>
        </a>
    </ul>


    <!--<script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>-->

</div>

</div>




</div>



</body>
</html>