<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>医呼百应挂号网</title>
	<link type="text/css" rel="stylesheet" href="../../public/stylesheets/photoswipe/photoswipe.css"/>
	<link rel="stylesheet" type="text/css" href="../../public/stylesheets/foundation.css">
    <link rel="stylesheet" type="text/css" href="../../public/stylesheets/common.css">
    <link type="text/css" rel="stylesheet" href="../../public/javascripts/css/flexslider.css"/>
    <link type="text/css" rel="stylesheet" href="../../public/javascripts/css/jquery.mmenu.all.css"/>
    <link type="text/css" rel="stylesheet" href="../../public/javascripts/css/style.css"/>
    <link type="text/css" rel="stylesheet" href="../../public/javascripts/css/mStyle.css"/>

    <script type="text/javascript" src="../../public/javascripts/photoswipe/klass.min.js"></script>
    <script type="text/javascript" src="../../public/javascripts/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="../../public/javascripts/jquery.mobile-1.0rc2.min.js"></script>
    <script type="text/javascript"
            src="../../public/javascripts/photoswipe/code.photoswipe.jquery-3.0.4.min.js"></script>
    <script type="text/javascript" src="../../public/javascripts/jquery.flexslider.js"></script>
    <script type="text/javascript" src="../../public/javascripts/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../public/javascripts/js/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="../../public/javascripts/js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="../../public/javascripts/js/o-script.js"></script>
    <!--<script src="js/vendor/modernizr.js"></script>-->
    
</head>
<body>
<nav id="menu">
            <ul>
            	<li>
                    <a href="mAbout.html">
                        <i class="i-home i-small"></i>李旭
                    </a>
                </li>
            	<li >
                    <a href="mIndex.html">
                        <i class="i-home i-small"></i>登出
                    </a>
                </li>
                <li >
                    <a href="mIndex.html">
                        <i class="i-home i-small"></i>预约主页
                    </a>
                </li>
                <li>
                    <a href="mAbout.html">
                        <i class="i-about i-small"></i>个人信息
                    </a>
                </li>
                <li>
                    <a href="mBlog.html">
                        <i class="i-blog i-small"></i>订单管理
                    </a>
                </li>
                <li>
                    <a href="mGallery.html">
                        <i class="i-gallery i-small"></i>收藏夹
                    </a>
                </li>
                <li>
                    <a href="mShortCodes.html">
                        <i class="i-shortcodes i-small"></i>问题反馈
                    </a>
                </li>
            </ul>
        </nav>

<div id="header">
        <a href="#menu"></a>
        <span> 医呼百应 预约主页 </span>
        <a class="backBtn" href="javascript:history.back();"></a>
    </div>
        <div class="block">
				快速预约挂号
			</div>
			
			<div class="exploreSiteFullPane">
				
				<a href="#" class="explorePane active">
					<span class="i-pane i-blue">
						<i class="i-home"></i>
					</span>
					<h4>选择医院</h4>
				</a>
				<a href="about.html" class="explorePane middle">
					<span class="i-pane i-blue">
						<i class="i-about"></i>
					</span>
					<h4>选择科室</h4>
				</a>
				<a href="blog.html" class="explorePane">
					<span class="i-pane i-blue">
						<i class="i-blog"></i>
					</span>
					<h4>选择疾病</h4>
				</a>
				
			</div>
          

<div class="article-comments">
						<hr>
						<span>附近的医院</span>
                        <hr>
						
						<ul>
							<li>
								<img  style="align-content:center;" src="../../public/images/hospital3.jpg" />
								<p class="c-a-name"><strong>协和医院</strong></p>
								<p class="comment-date">三级甲等</p>
								<p class="desc">
									北京市海淀区花园北路49号中央党校院区]区大有庄100号
								</p>
							</li>
							<li>
								<img  style="align-content:center;" src="../../public/images/hospital3.jpg" />
								<p class="c-a-name"><strong>北医三院</strong></p>
								<p class="comment-date">三级甲等</p>
								<p class="desc">
									[东院]北京市东城区帅府园一号 [西院]北京市西城区大木仓胡同41号 
								</p>
								
							</li>
                            <li>
								<img  style="align-content:center;" src="../../public/images/hospital3.jpg" />
								<p class="c-a-name"><strong>积水潭医院</strong></p>
								<p class="comment-date">三级甲等</p>
								<p class="desc">
									北京大兴区兴丰大街三段（56号）；庄向北100米路东。 
所属地区：大兴区
								</p>
								
							</li>
                            <li>
								<img  src="../../public/images/hospital3.jpg" />
								<p class="c-a-name"><strong>武警三医院</strong></p>
								<p class="comment-date">三级甲等</p>
								<p class="desc">
									北京市大兴区黄村镇黄良路口北侧 
								</p>
								
							</li>
                            <li>
								<img  style="align-content:center;" src="../../public/images/hospital3.jpg" />
								<p class="c-a-name"><strong>北京大学医院</strong></p>
								<p class="comment-date">三级甲等</p>
								<p class="desc">
									北京大兴区兴丰大街三段（56号）分院]路亦庄出口向北100米路东。 

								</p>
								
							</li>
							
						</ul>
					</div>
                    <div align="center">
                  <button type="button"   style="background-color:#587eac;">更多
        </button> 
        </div>
				

<!--<script src="js/vendor/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>-->
</body>
</html>
