<nav id="menu">
    <ul>
        <li>
            <a href="/mobile/person/info">
                <i class="i-home i-small"></i><%= username %>
            </a>
        </li>
        <li>
            <a href="/mobile/logout">
                <i class="i-home i-small"></i>登出
            </a>
        </li>
        <li>
            <a href="/mobile">
                <i class="i-home i-small"></i>预约主页
            </a>
        </li>
        <li>
            <a href="/mobile/person/info">
                <i class="i-about i-small"></i>个人信息
            </a>
        </li>
        <li>
            <a href="/mobile/person/myOrder">
                <i class="i-blog i-small"></i>订单管理
            </a>
        </li>
        <li>
            <a href="/mobile/person/myFavourite">
                <i class="i-gallery i-small"></i>收藏夹
            </a>
        </li>
        <li>
            <a href="/mobile/person/feedback">
                <i class="i-shortcodes i-small"></i>问题反馈
            </a>
        </li>
    </ul>
</nav>

<div id="header">
    <a href="#menu"></a>
    <span> <%= title %></span>
    <a class="backBtn" href="javascript:history.back();"></a>
</div>
