<nav id="menu">
    <ul>
        <li>
            <a href="/mobile/login">
                <i class="i-home i-small"></i>登陆
            </a>
        </li>
        <li>
            <a href="/mobile/register">
                <i class="i-home i-small"></i>注册
            </a>
        </li>
        <li>
            <a href="/mobile">
                <i class="i-home i-small"></i>回到主页
            </a>
        </li>
    </ul>
</nav>

<div id="header">
    <a href="#menu"></a>
    <span> 医呼百应 预约主页 </span>
    <a class="backBtn" href="javascript:history.back();"></a>
</div>
