<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"><meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
	<title>订单显示</title>
	<link rel="stylesheet" type="text/css" href="css/Order.css">
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" href="css/foundation.css">
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-theme.min.css">
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=xGMzV153e3q1EnXCE0lVL3oR">
	</script>
	<script type="text/javascript" src="js/MapDisplay.js"></script>
</head>
<body>
	<div id="main_container">
		<div id="userInfo" class="row" class="header-container">
			<div class="small-4 columns">
				<span id="userName" class="userInfoSytle">Ma Bingying</span>
			</div>
			<div class="small-3 small-offset-3 columns">
				<span id="SelCentre" class="userInfoSytle"><a href="#">个人中心</a></span>
			</div>
			<div class="small-2 columns">
				<span id="Logout" class="userInfoSytle"><a href="#">登出</a></span>
			</div>
		</div>
		<div id="OrderDisplay">
			<div>
				<h1 class="subheader">订单</h1>
				<hr class="hr3" />
			</div>
			<div>
				<div>
					<span>订单编号</span>
					<span>201411223657</span>
				</div>
				<div>
					<span>挂号科室</span>
					<span>神经科</span>
				</div>
				<div>
					<span>就诊医师</span>
					<span>李旭</span>
				</div>
				<div>
					<span>医师专长</span>
					<span>以疯治疯</span>
				</div>
				<div>
					<span>就诊日期</span>
					<span>2014年11月25日</span>
				</div>
				<div>
					<span>就诊时间</span>
					<span>14:00</span>
				</div>
				<div>
					<span>挂号费用</span>
					<span>8.00元</span>
				</div>	
				<div>
					<span>就诊卡号</span>
					<span>#12211086</span>
				</div>	
				<div>
					<span>医院地址</span>
					<span>北京市大兴区黄村镇黄良路口北侧</span>
				</div>	
				<div>
					<span>联系方式</span>
					<span>010-61216048</span>
				</div>	
			</div>
			<div>
				<button>支付订单</button>
			</div>	
		</div>
	</div>
</body>
</html> 