<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <title>订单</title>

    <link type="text/css" rel="stylesheet" href="/javascripts/css/flexslider.css"/>
    <link type="text/css" rel="stylesheet" href="/javascripts/css/jquery.mmenu.all.css"/>
    <link type="text/css" rel="stylesheet" href="/javascripts/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/Order.css">

    <script type="text/javascript" src="/javascripts/js/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="/javascripts/js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="/javascripts/js/o-script.js"></script>
    
</head>
<body class="o-page">
<div id="page">

    <%- include mLoggedIn.html %>

    <div id="content">
        <div style="text-align:center;">
            <img src="/images/confirm.png">
        </div>
        <div>
            <h1 class="subheader">您的订单已生成！</h1>
            <hr class="hr3"/>
        </div>
        <div>
            <span>可以在<a href="#">我的订单</a>中查看该订单信息,也可<a href="/mobile">返回首页</a></span>
        </div>
</div>
</body>
</html> 