<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <title>订单</title>

    <link type="text/css" rel="stylesheet" href="/javascripts/css/jquery.mmenu.all.css"/>
    <link type="text/css" rel="stylesheet" href="/javascripts/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/Order.css">

    <script type="text/javascript" src="/javascripts/js/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="/javascripts/js/o-script.js"></script>
    
</head>
<body class="o-page">
<div id="page">

    <%- include mLoggedIn.html %>

    <div id="content">
        <div>
            <h1 class="subheader">订单</h1>
            <hr class="hr3" style="background-color:#587eac;"/>
        </div>
        <div>
            <table>
                <col width="25%">
                <col width="75%">
                <tr>
                    <td><strong>挂号医院:</strong></td>
                    <td><span><%= order.hospital %></span></td>
                </tr>
                <tr>
                    <td><strong>挂号科室:</strong></td>
                    <td><span><%= order.dept %></span></td>
                </tr>
                <tr>
                    <td><strong>就诊医师:</strong></td>
                    <td><span><%= order.doctor %></span></td>
                </tr>
                <tr>
                    <td><strong>就诊时间:</strong></td>
                    <td><span><%= order.see_time %></span></td>
                </tr>
                <tr>
                    <td><strong>挂号费用:</strong></td>
                    <td><span><%= order.fee %>元</span></td>
                </tr>
                <tr>
                    <td><strong>医院地址:</strong></td>
                    <td><span><%= order.address %></span></td>
                </tr>
                <tr>
                    <td><strong>联系方式:</strong></td>
                    <td><span><%= order.tel %></span></td>
                </tr>
            </table>
        </div>
        <div style="text-align:center;">
            <a href="/mobile/book/finishbook?hospitalid=<%= hospitalid%>&departmentid=<%= departmentid %>&doctorid=<%= doctorid %>&time=<%= order.see_time %>$datenum=<%= datenum %>"
               class="o-buttons b-big blue">确认订单</a>
        </div>
    </div>
</div>
</body>
</html> 