<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>修改密码</title>
    <link type="text/css" rel="stylesheet" href="../../public/stylesheets/photoswipe/photoswipe.css"/>
    <link rel="stylesheet" type="text/css" href="../../public/stylesheets/common.css">
    <link type="text/css" rel="stylesheet" href="../../public/javascripts/css/flexslider.css"/>
    <link type="text/css" rel="stylesheet" href="../../public/javascripts/css/jquery.mmenu.all.css"/>
    <link type="text/css" rel="stylesheet" href="../../public/javascripts/css/style.css"/>
    <link type="text/css" rel="stylesheet" href="../../public/javascripts/css/mStyle.css"/>
	<link rel="stylesheet" type="text/css" href="../../public/stylesheets/foundation.css"/>
    <script type="text/javascript" src="../../public/javascripts/photoswipe/klass.min.js"></script>
    <script type="text/javascript" src="../../public/javascripts/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="../../public/javascripts/jquery.mobile-1.0rc2.min.js"></script>
    <script type="text/javascript"
            src="../../public/javascripts/photoswipe/code.photoswipe.jquery-3.0.4.min.js"></script>
    <script type="text/javascript" src="../../public/javascripts/jquery.flexslider.js"></script>
    <script type="text/javascript" src="../../public/javascripts/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../public/javascripts/js/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="../../public/javascripts/js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="../../public/javascripts/js/o-script.js"></script>
	<script src="js/vendor/modernizr.js"></script>

</head>

<body class="o-page">
<div id="page">
<nav id="menu">
            <ul>
            <li >
                    <a href="mLogin.html">
                        <i class="i-home i-small"></i>登陆
                    </a>
                </li>
                <li >
                    <a href="mRegister.html">
                        <i class="i-home i-small"></i>注册
                    </a>
                </li>
                <li >
                    <a href="mIndex.html">
                        <i class="i-home i-small"></i>预约主页
                    </a>
                </li>
                <li>
                    <a href="mAbout.html">
                        <i class="i-about i-small"></i>个人信息
                    </a>
                </li>
                <li>
                    <a href="mBlog.html">
                        <i class="i-blog i-small"></i>订单管理
                    </a>
                </li>
                <li>
                    <a href="mGallery.html">
                        <i class="i-gallery i-small"></i>收藏夹
                    </a>
                </li>
                <li>
                    <a href="mShortCodes.html">
                        <i class="i-shortcodes i-small"></i>问题反馈
                    </a>
                </li>
            </ul>
        </nav>

<div id="header">
        <a href="#menu"></a>
        <span> 医呼百应 更改密码 </span>
        <a class="backBtn" href="javascript:history.back();"></a>
    </div>
<form action="/mobile/login" method="post" id="login_form">

	<div style="margin-left:10px; margin-top:50px;" >
    <span>＊旧密码</span>
    </div>
    

        <div  style="width:300px; margin-left:10px;">
            <input id="id_old_passWord" name="old_passWord" type="password" placeholder="旧密码"/>
        </div>
        
    <div style="margin-left:10px;">
        <span>＊新密码</span>
    </div>
    
        <div  style="width:300px; margin-left:10px;">
            <input id="id_passWord" name="passWord" type="password" placeholder="新密码"/>
        </div>
  
    <div style="margin-left:10px;" >
		 <span>＊重复新密码</span>
    </div>
    
        <div  style="width:300px; margin-left:10px;">
            <input id="id_passWord" name="passWord" type="password" placeholder="重复新密码"/>
        </div>

    <div  align="center" style="margin-top:40px;">
        <input type="hidden" name="previousUrl" value="<%= previousurl %>"/>
         <a href="#" class="o-buttons b-big blue">保存</a>
    </div>
</form>

<script>
    $(document).foundation();
</script>
</div>
</body>
</html>
