<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>

    <link type="text/css" rel="stylesheet" href="/javascripts/css/jquery.mmenu.all.css"/>
    <link type="text/css" rel="stylesheet" href="/javascripts/css/style.css"/>
    <script type="text/javascript" src="/javascripts/js/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="/javascripts/js/o-script.js"></script>

</head>

<body class="o-page">
<div id="page">
    <%- partial('mLoggedIn', {
    title:'医呼百应 更改密码',
    username:user.real_name
    }) %>


    <form action="/mobile/person/info/alterPass" method="post">

        <div style="margin-left:7.5%; margin-top:50px;" >
            <span>＊旧密码</span>
        </div>


        <div  style="width:85%; margin-left:7.5%;">
            <input id="id_old_passWord" name="oldPassword" type="password" placeholder="旧密码"/>
        </div>

        <div style="margin-left:7.5%;">
            <span>＊新密码</span>
        </div>

        <div  style="width:85%; margin-left:7.5%;">
            <input id="id_passWord" name="newPassword" type="password" placeholder="新密码"/>
        </div>

        <div style="margin-left:7.5%;" >
            <span>＊重复新密码</span>
        </div>

        <div  style="width:85%; margin-left:7.5%;">
            <input id="id_confirm_passWord" name="confirmPassword" type="password" placeholder="重复新密码"/>
        </div>

        <div align="center" style="margin-top:40px;">
            <button type="submit" name="post" value="true" style="background-color:#587eac; width:100px; border-radius:5px; font-size:12px; height: 38px;line-height: 5px;">确定
            </button>
        </div>
    </form>

    <script>
        $(document).foundation();
    </script>
</div>
</body>
</html>
