<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>修改手机号码</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/photoswipe/photoswipe.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css">
    <link type="text/css" rel="stylesheet" href="/javascripts/css/flexslider.css"/>
    <link type="text/css" rel="stylesheet" href="/javascripts/css/jquery.mmenu.all.css"/>
    <link type="text/css" rel="stylesheet" href="/javascripts/css/style.css"/>
    <link type="text/css" rel="stylesheet" href="/javascripts/css/mStyle.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/foundation.css"/>
    <script type="text/javascript" src="/javascripts/photoswipe/klass.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.mobile-1.0rc2.min.js"></script>
    <script type="text/javascript"
            src="/javascripts/photoswipe/code.photoswipe.jquery-3.0.4.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.flexslider.js"></script>
    <script type="text/javascript" src="/javascripts/js/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="/javascripts/js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="/javascripts/js/o-script.js"></script>
    <script src="js/vendor/modernizr.js"></script>
</head>

<body class="o-page">
<div id="page">
    <%- partial('mLoggedIn', {
    title:'医呼百应 更改电话',
    username:user.real_name
    }) %>


    <form action="/mobile/login" method="post" >

        <div style="margin-left:20px; margin-top:50px;" >
            <span>＊新手机号码</span>
        </div>
        <div  align="center" style="padding-left:20px; padding-right:20px;">
            <input id="id_new_phone" name="new_phone" type="text" placeholder="新手机号码"/>
        </div>
        <div  align="center" style="margin-top:40px;">
            <a href="#" class="o-buttons b-big blue">保存</a>
        </div>

    </form>
    <script>
        $(document).foundation();
    </script>
</div>
</body>
</html>
