<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="css/foundation.css" />
<link rel="stylesheet" type="text/css" href="Register.css">
<script src="js/vendor/modernizr.js"></script>
<title>注册</title>
</head>
<body>
	<div  align="center">
		<span id="topText">注册</span>
	</div>
    <form action="/mobile_register" method="post" id="register_form">
    <div class="row" align="center" style="margin-top:30px;" >
		<div class="large-12 columns" align="center">
            <input type="text" placeholder="身份证号" name="social_number"/>
		</div>
   </div>

   <div class="row" align="center" style="margin-top:20px;">
		<div class="large-12 columns" align="center">
            <input type="text" placeholder="姓名" name="name"/>
		</div>
   </div>
 
    <div class="row" align="center" style="margin-top:20px;">
		<div class="large-12 columns" align="center">
            <input type="text" placeholder="密码" name="password"/>
		</div>
   </div>
    
    <div class="row" align="center" style="margin-top:20px;">
		<div class="large-12 columns" align="center">
            <input type="text" placeholder="现居城市" name="city"/>
		</div>
   </div>
    <div class="row" align="center" style="margin-top:20px;">
		<div class="large-12 columns" align="center">
            <input type="text" placeholder="手机号" name="mobile"/>
		</div>
   </div>
    <div class="row"  >
      
      <div class="large-4 medium-4 small-4 columns" align="left" style="margin-top:20px;">
          <input type="text" placeholder="验证码" name="auth_code">
      </div>
        <button type="button" class="small button" style="margin-top:20px;" onclick="requestAuthCode(this)">获取验证码
        </button>
	</div>
    
    <div class="large-12 columns" align="center" style="margin-top:40px;">       
         <input type="submit" class="small radius button">提交</button>
    </div>
    
    </form> 
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script>
        var xmlHttp;
        var remainingTime = 60;
        function requestAuthCode(button) {
            time(button);
            xmlHttp = GetXmlHttpObject();
            if (xmlHttp == null) {
                alert('您的浏览器不支持AJAX！');
                return;
            }
            var url = "http://localhost:3000/mobile_generate_auth_code";
            xmlhttp.open("POST", url, true);
            xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xmlhttp.send();
            xmlHttp.onreadystatechange = getOkPost;//发送事件后，收到信息了调用函数
        }
        function time(button) {
            if (remainingTime == 0) {
                button.removeAttribute("disabled");
                button.innerHTML = "获取验证码";
                remainingTime = 60;
            } else {
                button.setAttribute("disabled", true);
                button.innerHTML = remainingTime + "秒后重新发送";
                remainingTime--;
                setTimeout(function () {
                            time(button)
                        },
                        1000);
            }
        }
        function GetXmlHttpObject() {
            if (window.XMLHttpRequest) {
                // code for IE7+, Firefox, Chrome, Opera, Safari
                xmlhttp = new XMLHttpRequest();
            } else {// code for IE6, IE5
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            return xmlhttp;
        }
        function getOkPost() {
            if (xmlHttp.readyState == 1 || xmlHttp.readyState == 2 || xmlHttp.readyState == 3) {
                // 本地提示：加载中/处理中

            }
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                var d = xmlHttp.responseText; // 返回值
                // 处理返回值
            }
        }
    </script>

</body>
</html>
