<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
		<title>搜索医生</title>

		<link type="text/css" rel="stylesheet" href="../../public/stylesheets/jquery.mmenu.all.css" />
		<link type="text/css" rel="stylesheet" href="../../public/stylesheets/style.css" />
		<link rel="stylesheet" href="../../public/javascripts/foundation/foundation.css">

		<link rel="stylesheet" type="text/css" href="../../public/stylesheets/common.css">
		<link rel="stylesheet" type="text/css" href="../../public/stylesheets/mSearchDoctor.css">
		
		<script type="text/javascript" src="../../public/javascripts/jquery.min.js"></script>
		<script type="text/javascript" src="../../public/javascripts/jquery.mmenu.min.all.js"></script>
		<script type="text/javascript" src="../../public/javascripts/jquery.easy-pie-chart.js"></script>
		<script type="text/javascript" src="../../public/javascripts/o-script.js"></script>
	</head>

	<body class="o-page">
		<div id="page">
			<div id="userInfo">
				<div class="small-4 columns">
					<span id="userName" class="userInfoSytle">Ma Bingying</span>
				</div>
				<!--<div class="small-3 columns icon">o</div>-->
				<div class="small-3 small-offset-3 columns">
					<span id="SelfCentre" class="userInfoSytle"><a href="#">个人中心</a></span>
				</div>
				<div class="small-2 columns">
					<span id="Logout" class="userInfoSytle"><a href="#">登出</a></span>
				</div>
			</div>

			<div id="content">
				<div>
					<h1 class="subheader">搜索医生</h1>
					<hr class="hr3" />
				</div>
				<div>
					<form>
						<input type="text" placeholder="医生姓名" required>
						<button type="submit">搜索</button>
					</form>	
				</div>

			</div>
		</div>
	</body>
</html> 