<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>问题反馈</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/photoswipe/photoswipe.css"/>

    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css">
    <link type="text/css" rel="stylesheet" href="/javascripts/css/flexslider.css"/>
    <link type="text/css" rel="stylesheet" href="/javascripts/css/jquery.mmenu.all.css"/>
    <link type="text/css" rel="stylesheet" href="/javascripts/css/style.css"/>
    <link type="text/css" rel="stylesheet" href="/javascripts/css/mStyle.css"/>

    <script type="text/javascript" src="/javascripts/photoswipe/klass.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.mobile-1.0rc2.min.js"></script>
    <script type="text/javascript"
            src="/javascripts/photoswipe/code.photoswipe.jquery-3.0.4.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.flexslider.js"></script>
    <script type="text/javascript" src="/javascripts/js/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="/javascripts/js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="/javascripts/js/o-script.js"></script>
</head>

<style type="text/css">

    .box {
        padding: 0 1em;
        background-color: #CCCCCC;
        margin-left: 2%;
        margin-right: 2%;
        border-radius: 5px;
    }

    li{list-style-type:none;}

    b{
        float: left;
    }
</style>

<body class="o-page">
<div id="page">
    <%- partial('mLoggedIn', {
    title:'医呼百应 问题反馈',
    username:user.real_name
    }) %>
    <div id="question" align="center">
        <div>
            <h1 class="subheader">问题反馈</h1>
            <hr class="hr3" style="background-color:#587eac;"/>
        </div>
        <% for(var i=0; i<feedback.length; i++) {%>
        <section class="box">
            <ul>
                <li><b>反馈时间：</b><%= feedback[i].date%></li>
                <li><b>反馈内容：</b><%= feedback[i].content%></li>
                <% if(feedback[i].if_check) {%>
                <li><b>回复内容：</b><%= feedback[i].check_message%></li>
                <% } else { %>
                <li><b>反馈状态：</b>未解决</a></li>
                <% } %>
            </ul>
        </section>
        <% } %>
        <div align="center" style="margin-top:40px;">
            <a href ="/mobile/person/submitFeedback">
            <button   type="button" name="post" value="true" style="background-color:#587eac; width:100px; border-radius:5px; font-size:12px; height: 38px;line-height: 5px;">提问
            </button>
            </a>
        </div>

    </div>
</div>
</body>
</html>
