<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>修改密码</title>
<link rel="stylesheet" type="text/css" href="../../public/stylesheets/foundation.css"/>
    <link rel="stylesheet" type="text/css" href="../../public/stylesheets/mRegister.css">
    <script src="js/vendor/modernizr.js"></script>

</head>

<body>
<form action="/mobile/login" method="post" id="login_form">
	<div style="margin-left:10px;" >
    <span>＊旧密码</span>
    </div>
    <div class="row" align="center"  >
        <div class="large-12 columns" align="center">
            <input id="id_old_passWord" name="old_passWord" type="password" placeholder="旧密码"/>
        </div>
    </div>
	<div  style="margin-left:10px;">
    <span>＊新密码</span>
    </div>
    <div class="row" align="center" >
        <div class="large-12 columns" align="center">
            <input id="id_passWord" name="passWord" type="password" placeholder="新密码"/>
        </div>
    </div>
    <div style="margin-left:10px;">
    <span>＊重复新密码</span>
    </div>
    <div class="row" align="center" >
        <div class="large-12 columns" align="center">
            <input id="id_passWord" name="passWord" type="password" placeholder="重复新密码"/>
        </div>
    </div>

    <div class="large-12 columns" align="center" style="margin-top:40px;">
        <input type="hidden" name="previousUrl" value="<%= previousurl %>">
        <button type="submit" class="small radius button" name="post" value="true" style="background-color:#587eac">保存</button>
    </div>
</form>
<script src="js/vendor/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>
